{%- liquid
  assign file_extension = 'png'
  assign swatch_options = settings.swatch_options | downcase | split: ', '
  assign sort_by = results.sort_by | default: results.default_sort_by
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}

<div class="active-filters" data-active-filters>
  {%- for filter in results.filters -%}
    {%- liquid
      assign group_name = filter.label | handleize
    -%}

    {%- for value in filter.active_values -%}
      <a
        href="{{ value.url_to_remove }}"
        class="active-filters__active-filter fs-body-75 no-transition"
        data-remove-filter
        data-filter="filter-{{ value.label | handleize | escape }}"
        data-name="{{ value.param_name }}"
        data-value="{{ value.value }}"
        data-value-escaped="{{ value.value | url_escape }}"
      >
        {%- if swatch_options contains group_name and show_swatch_filters == true -%}
          <span
            class="active-filters__swatch"
            style="
              background-image: url({{ value.label | handle | append: '.' | append: file_extension | file_url }});
              background-color: {{ value.label | downcase }};
            "
          >
          </span>
        {%- endif -%}

        {%- if filter.type == "boolean" -%}
          {{ filter.label | escape }}
        {%- else -%}
          {{ value.label | escape }}
        {%- endif -%}
        {%- render 'icon' with icon: 'close-small' -%}
      </a>
    {%- endfor -%}

    {% if filter.type == "price_range" %}
      {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
        <a
          href="{{ value.url_to_remove }}"
          class="active-filters__active-filter fs-body-75 no-transition"
          data-remove-range
        >
          {%- if filter.min_value.value -%}{{ filter.min_value.value | money }}{%- else -%}{{ 0 | money }}{%- endif -%}
          &nbsp;-&nbsp;
          {%- if filter.max_value.value -%}
            {{ filter.max_value.value | money }}
          {%- else -%}
            {{ filter.range_max | money }}
          {%- endif -%}
          {%- render 'icon' with icon: 'close-small' -%}
        </a>
      {%- endif -%}
    {% endif %}
  {%- endfor -%}

  <a
    href="{{ results_url }}"
    class="active-filters__active-filter active-filters__clear no-transition btn btn--text-link fs-body-75"
    data-clear-all-filters
  >
    <span>{{ 'filters.clear_filters' | t }}</span>
  </a>
</div>
