{% comment %}
  Pass these variables into snippet:
  * label: String
  * link: URL
  shopify_attributes: Obj (needed for Shopify editor)
  wrapper_class: String
  button_style: String
  is_full: String
  is_small: String
  is_x_small: String
  is_overlay: String
  allow_linkless: Boolen to not requuire
  buttons_can_inline: Boolean (True if buttons can become inline depending on their position within the block order)
  forloop: obj (required if buttons_can_inline: true)
{% endcomment %}

{%- liquid
  assign prev_index = null
  assign next_index = null
-%}

{% unless label == blank %}
  {% if buttons_can_inline %}
    {%- liquid
      assign prev_index = forloop.index0 | minus: 1
      assign next_index = forloop.index0 | plus: 1
    -%}

    {%- if section.blocks[next_index].type == 'button' -%}
      <div class="button-block__inline-wrapper button-block__inline-wrapper--justify-{{ button_alignment }} section-blocks__inline-buttons">
    {%- endif -%}
  {% endif %}

  <div class="button-block__button button-block__button--justify-{{ button_alignment }} {{ wrapper_class }}" {{ shopify_attributes }}>
    {%- capture button_tag -%}{% if link == blank %}button{% else %}a{% endif %}{%- endcapture -%}
    {%- capture button_attributes -%}
      {% if link == blank %}
        type="button"
        {% unless allow_linkless %}
          data-flash-trigger data-flash-message="{{ 'general.flash_alert.no_link' | t }}"
        {% endunless %}
      {% else %}
        href="{{ link }}"
      {% endif %}
    {%- endcapture -%}
    <{{ button_tag }}
      {{ button_attributes }}
      class="
        btn
        {% if is_overlay %}
          btn--overlay
        {% endif %}
        {% if is_full %}
          btn--full
        {% endif %}
        {% if is_small %}
          btn--small
        {% endif %}
        {% if is_x_small %}
          btn--x-small
        {% endif %}
        {{ button_style | default: 'btn--primary' }}"
    >
      <span>{{ label }}</span>
    </{{ button_tag }}>
  </div>

  {% if buttons_can_inline and prev_index > -1 and section.blocks[prev_index].type == 'button' %}
    </div>
  {% endif %}
{% endunless %}
