<div
  class="
    navigation__submenu
    ff-body
    fs-body-100
    {% if settings.enable_section_animations %}
      animation
      animation--dropdown
    {% endif %}
  "
  data-submenu
  data-depth="{{ depth }}"
  aria-hidden="true"
>
  <ul class="navigation__submenu-list">
    {%- assign depth = depth | plus: 1 -%}

    {%- for link in menu -%}
      {%- if link.links.size > 0 -%}
        {%- assign has_children = true -%}
      {%- endif -%}

      <li class="navigation__submenu-item">
        {%- if has_children -%}
          {%- liquid
            assign child_is_active = false
            for link in link.links
              if link.active
                assign child_is_active = true
                break
              elsif link.links.size > 0
                for link in link.links
                  if link.active
                    assign child_is_active = true
                    break
                  endif
                endfor
              endif
            endfor
          -%}

          <a
            class="navigation__submenu-trigger no-transition has-icon{% if child_is_active %} active{% endif %}"
            data-dropdown-trigger
            data-link
            aria-haspopup="true"
            aria-expanded="false"
            href="{{ link.url }}"
          >
            <span class="navigation__submenu-child-link">
              <label>{{ link.title }}</label>
              {% render 'icon' with icon: 'chevron-small', class: "navigation__submenu-icon" %}
            </span>
          </a>

          {% render 'navigation-submenu', menu: link.links, depth: depth %}
        {%- else -%}
          <a
            href="{{ link.url }}"
            class="{% if link.active %}active{% endif %}"
            {% if link.active %}
              aria-current="page"
            {% endif %}
            data-link
          >
            {{ link.title }}
          </a>
        {%- endif -%}
      </li>

      {%- assign has_children = false -%}
    {%- endfor -%}
  </ul>
</div>
