<button
  class="password-unlock__trigger fs-body-50"
  data-popup-trigger
  data-modal-content-id="modal-password-unlock"
  type="button"
>
  {% render 'icon' with icon: 'padlock' %}
  {%- if is_desktop -%}
    {{ 'general.password_page.password_link' | t }}
  {%- endif -%}
</button>
<div
  id="modal-password-unlock"
  class="password-unlock__content modal-content"
  aria-modal="true"
  data-content="login"
>
  <div class="password-unlock__text fs-body-100">{{ 'general.password_page.login_form_heading' | t }}</div>
  <div class="password-unlock__form-wrapper">
    {% form 'storefront_password', class: 'password-form', id: 'password' %}
      {% render 'form-status', form: form, form_id: 'password' %}

      <div class="password-unlock__login-form">
        <label for="Password" class="visually-hidden">
          {{- 'general.password_page.login_form_password_placeholder' | t -}}
        </label>
        <input
          type="password"
          class="input"
          name="password"
          id="password-password"
          placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
        >
        <button class="password-unlock__button btn btn--primary btn--full" type="submit">
          {{ 'general.password_page.login_form_submit' | t }}
        </button>
      </div>
    {% endform %}
  </div>
  <p class="password-unlock__admin fs-body-75">{{ 'general.password_page.admin_link_html' | t }}</p>
</div>
