{%- comment -%}
Pass in:
- blocks: section's blocks
- prod: product object
- featured_media
- current_variant
- is_quick: boolean to indicate if we are rendering quick product or not. Some sections omitted if true
- column (optional): "left" or "right" to filter by "column_placement"


{%- endcomment -%}
{%- capture product_url -%}{{ shop.url | append: prod.url }}{%- endcapture -%}

{%- for block in blocks -%}
  {% assign renderBlock = false %}
  {% if column == block.settings.column_placement or column == "right" and block.settings.column_placement == blank or column == blank %}
    {% assign renderBlock = true %}
  {% endif %}

  {% if renderBlock == true %}
    {%- case block.type -%}
      {%- when '@app' -%}
        {% render block %}

      {%- when 'product_header' -%}
        {% if is_quick %}<div class="quick-product--header-block-wrap">{% endif %}
        {%- render 'product-block-header' with
          product: prod,
          block: block,
          block_settings: block.settings,
          current_variant: current_variant,
          is_quick: is_quick,
          featured_media: featured_media
        -%}
        {% if is_quick %}</div>{% endif %}
      {%- when 'spacer' -%}
        <div class="product-block-spacer product__block product__block--medium" style="height: {{ block.settings.space }}px" {{ block.shopify_attributes }}></div>

      {%- when 'variant_picker' -%}
        {%- if prod != blank -%}
          {%- render 'product-block-variant-picker' with
            product: prod,
            block: block,
            block_settings: block.settings,
            current_variant: current_variant
          -%}
        {%- endif -%}

      {%- when 'quantity_selector' -%}
        {%- if prod != blank -%}
          {%- render 'product-block-quantity-selector' with
            product: prod,
            block: block,
            block_settings: block.settings,
          -%}
        {%- endif -%}

      {%- when 'buy_buttons' -%}
        {%- if prod != blank -%}
          {%- render 'product-block-buy-buttons' with
            product: prod,
            block: block,
            block_settings: block.settings,
            current_variant: current_variant
          -%}
        {%- else -%}
          <div class="product-form">
            <div class="product-form__controls-group product-form__controls-group--submit">
              <button
                type="button"
                aria-disabled="true"
                disabled
                class="product-form__cart-submit btn btn--medium btn--full"
              >
                <span>
                  {{ 'products.product.add_to_cart' | t }}
                </span>
              </button>
            </div>
          </div>
        {%- endif -%}

      {%- when 'description' -%}
        {%- render 'product-block-description' with
          product: prod,
          block: block,
          block_settings: block.settings,
        -%}

      {%- when 'product_callouts' -%}
        {%- render 'product-block-callouts' with block: block, block_settings: block.settings %}

      {%- when 'product_callouts_mini' -%}
        {%- render 'product-block-callouts-mini' with block: block, block_settings: block.settings %}

      {%- when 'text' -%}
        {% render 'product-block-text' with
          content: block.settings.text,
          block_settings: block.settings,
          block: block,
        %}

      {%- when 'share' -%}
        {%- if prod != blank -%}
          {%- liquid
            assign share_alignment = "left-below"

            if is_quick or is_featured
              assign share_alignment = "left-above"
            endif
          -%}

          <div class="product-block-social-share product__block product__block--medium" {{ block.shopify_attributes }}>
            {% render 'social-share',
              url: product_url,
              title: product.title,
              image: product_featured_image_url,
              alignment: share_alignment
            %}
          </div>
        {%- endif -%}

      {%- when 'inventory-counter' -%}
        {%- if prod != blank -%}
          {%- render 'inventory-counter' with
            product: prod,
            block: block,
            block_settings: block.settings,
            current_variant: current_variant,
          -%}
        {%- endif -%}

      {%- when 'accordion' -%}
        {% unless block.settings.content == blank and block.settings.image == nil and block.settings.content_page == blank %}
          {%- render 'product-block-accordion' with
            block: block,
            block_settings: block.settings
            heading: block.settings.heading,
            content: block.settings.content,
          -%}
        {% endunless %}

      {%- when 'information_popup' -%}
        {%- assign popup_modal_page = pages[block.settings.popup_page] -%}

        {%- if block.settings.popup_text != blank and popup_modal_page.content != blank -%}
          {% render 'product-block-information-popup' with
            block: block,
            popup_page_target: block.settings.popup_page,
            popup_page: popup_modal_page,
            icon: block.settings.popup_icon,
            text: block.settings.popup_text
          %}
        {%- endif -%}
      
      {%- when 'feature_accordion_group' -%}
        {%- assign feature_namespace = block.settings.metafield_namespace -%}
        {%- for feature_metafield in product.metafields[feature_namespace] -%}
          {%- assign feature_metafield_key = feature_metafield[0] -%}
          {%- assign feature_metafield_value = feature_metafield[1] -%}
          {%- assign feature_metafield_index = 'product-feature-' |append: forloop.index -%}
          {%- assign feature_metafield_heading = feature_metafield_key | replace: '_', ' ' -%}
          {%- if feature_metafield_value != blank -%}
            {% render 'product-block-feature-accordion', heading: feature_metafield_heading, content: feature_metafield_value, feature_metafield_index: feature_metafield_index, classes: 'product-feature-accordion-item' %}
          {%- endif -%}
        {%- endfor -%}
    {%- endcase -%}
  {% endif %}
{%- endfor -%}