{%- liquid
  assign vertical_position = 100 | minus: vertical_position
  assign delay_value = 0.3 | times: index
  assign animation_delay = 1 | plus: delay_value
-%}

<div
  class="
    shoppable-item
    shoppable-item--index-{{ index }}
    shoppable-item--animating
    shoppable-item--position-unset
    shoppable-item--{{ settings.product_listing_aspect_ratio }}
    {% unless product_item == blank or show_hotspot_cards == false %}
      animation--shoppable-item
    {% endunless %}
  "
  style="
    --horizontal-position: {{ horizontal_position }}%;
    --vertical-position: {{ vertical_position }}%;
    --animation-delay: {{ animation_delay }}s;
  "
  data-index="{{index}}"
>
  {%- capture hotspot_tag -%}{% if product_item != blank %}button{% else %}div{% endif %}{%- endcapture -%}
  {%- capture hotspot_tag_attributes -%}{% if product_item != blank %}aria-label="{{ 'general.accessibility.open_modal' | t }}" type="button"{% endif %}{%- endcapture -%}
  <div class="shoppable-item__hotspot-wrapper animation--hotspot">
    <{{ hotspot_tag }}
      class="
        shoppable-item__hotspot
      "
      {{ hotspot_tag_attributes }}
      data-index="{{index}}"
      {{ block.shopify_attributes }}
    >
    </{{ hotspot_tag }}>
  </div>

  {%- unless product_item == blank or show_hotspot_cards == false -%}
    <div
      class="
        shoppable-item__product-card
        {% if product_item.featured_media != blank %}shoppable-item__product-card--has-image{% endif %}
        {% if horizontal_position >= 50 %}shoppable-item__product-card--align-right{% endif %}
        hidden
      "
      aria-hidden="true"
    >
      <button
        type="button"
        class="shoppable-item__close"
        data-shoppable-item-close
        aria-label="{{ 'general.accessibility.close_modal' | t }}"
      >
        {% render 'icon-button' with small: true, icon: 'close' %}
      </button>
      <a href="{{ product_item.url }}" class="shoppable-item__product-card-inner">
        <div class="shoppable-item__image-link">
          {%- if product_item.featured_media != blank -%}
            {% render 'image' with
              id: product_item.featured_media.id,
              image: product_item.media[0].preview_image,
              aspect_ratio: settings.product_listing_aspect_ratio,
              wrapper_class: 'shoppable-item__image',
              sizes: '160px'
            %}
          {%- endif -%}
        </div>

        <div class="shoppable-item__meta">
          <div class="shoppable-item__text">
            <h4 class="shoppable-item__product-title fs-product-title">
              <span>{{ product_item.title }}</span>
            </h4>

            {% if product_item.compare_at_price > product_item.price %}
              <p class="shoppable-item__price">
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <s class="t-subdued">{{ product_item.compare_at_price | money }}</s>

                {% if product_item.price_varies %}
                  {%- assign sale_price = product_item.price | money -%}
                  {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                {% else %}
                  <span class="sale">{{ product_item.price | money }}<span>
                {% endif %}
              </p>

            {% else %}
              {% if product_item.price_varies %}
                {%- assign price = product_item.price | money -%}
                <p class="shoppable-item__price">{{ 'products.product.from_lowest_price_html' | t: lowest_price: price }}</p>
              {% else %}
                <span class="shoppable-item__price">{{ product_item.price | money }}</span>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </a>

      <button
        type="button"
        class="btn btn--tertiary btn--x-small shoppable-item__quick-view-button"
        data-quick-view-trigger
        data-product-url="{{ product_item.url }}"
      >
        {{ 'products.product.quick_view' | t }}
      </button>
    </div>
  {%- endunless -%}
</div>