{%- assign navigation_background_opacity = navigation_background_opacity | divided_by: 100.0 -%}

<div
  class="
    slideshow-navigation
    slideshow-navigation--align-{{ navigation_alignment }}
    slideshow-navigation--style-{{ navigation_style }}
    {% unless enable_autoplay %}
      slideshow-navigation--hide-autoplay
    {% endunless %}
  "
  style="
    --animation-timing: {{ duration_autoplay }};
    --color-foreground: {{ navigation_color_foreground }};
    --color-foreground-transparent: {{ navigation_color_foreground | color_modify: 'alpha', 0.1 }};
    --color-background: {{ navigation_color_background | color_modify: 'alpha', navigation_background_opacity }};
  "
>
  <button
    type="button"
    class="slideshow-navigation__navigation-button slideshow-navigation__navigation-button--previous"
    aria-label="{{ 'general.accessibility.carousel_previous' | t }}"
  >
    {% render 'icon', with icon: 'chevron-small' %}
  </button>

  <div class="slideshow-navigation__dots"></div>

  <button
    type="button"
    class="slideshow-navigation__navigation-button slideshow-navigation__navigation-button--next"
    aria-label="{{ 'general.accessibility.carousel_next' | t }}"
  >
    {% render 'icon', with icon: 'chevron-small' %}
  </button>
</div>
