<section
  class="customer login page"
  data-section-id="{{ section.id }}"
  data-section-type="reset-password"
>
  <div class="login__inner page__inner" data-part="login">
    <header class="login__header page__header">
      <h1 class="login__heading ogin__heading ff-heading fs-heading-2-base">
        {{ 'customer.reset_password.title' | t }}
      </h1>
      <p class="login__subheading fs-body-100">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
    </header>

    <div class="login__main">
      {% form 'reset_customer_password', class: 'login__form' %}
        {%- liquid
          assign success_msg = 'customer.reset_password.success' | t
          assign formId = 'resetPassword'
        -%}
        {%- render 'form-status', form: form, form_id: formId, success_message: success_msg -%}

        <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
        <input
          type="password"
          value=""
          name="customer[password]"
          id="{{ id }}-ResetPassword"
          class="input{% if form.errors contains 'password' %} input--error{% endif %}"
        >

        <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
        <input
          type="password"
          value=""
          name="customer[password_confirmation]"
          id="{{ id }}-PasswordConfirmation"
          class="input{% if form.errors contains 'password_confirmation' %} input--error{% endif %}"
        >

        <button type="submit" class="btn btn--primary btn--full">{{ 'customer.reset_password.submit' | t }}</button>
      {% endform %}
    </div>
  </div>
</section>
