<!doctype html>

<!--
        ___                       ___           ___           ___
       /  /\                     /__/\         /  /\         /  /\
      /  /:/_                    \  \:\       /  /:/        /  /::\
     /  /:/ /\  ___     ___       \  \:\     /  /:/        /  /:/\:\
    /  /:/ /:/ /__/\   /  /\  ___  \  \:\   /  /:/  ___   /  /:/  \:\
   /__/:/ /:/  \  \:\ /  /:/ /__/\  \__\:\ /__/:/  /  /\ /__/:/ \__\:\
   \  \:\/:/    \  \:\  /:/  \  \:\ /  /:/ \  \:\ /  /:/ \  \:\ /  /:/
    \  \::/      \  \:\/:/    \  \:\  /:/   \  \:\  /:/   \  \:\  /:/
     \  \:\       \  \::/      \  \:\/:/     \  \:\/:/     \  \:\/:/
      \  \:\       \__\/        \  \::/       \  \::/       \  \::/
       \__\/                     \__\/         \__\/         \__\/

  --------------------------------------------------------------------
  #  Stiletto v1.1.0
  #  Documentation: https://fluorescent.co/help/TODO/
  #  Purchase: https://themes.shopify.com/themes/TODO/
  #  A product by Fluorescent: https://fluorescent.co/
  --------------------------------------------------------------------
-->

<html class="no-js" lang="{{ request.locale.iso_code }}" style="--announcement-height: 1px;">
  <head> 
    <script src='{{ 'product_restore_email.js' | asset_url }}' defer='defer' ></script> 
    <script id='em_product_variants' type='application/json'>
        {{ product.variants | json }}
    </script>
    <script id='em_product_selected_or_first_available_variant' type='application/json'>
        {{ product.selected_or_first_available_variant | json }}
    </script>
    <script id='em_product_metafields' type='application/json'>
        {{ shop.metafields.email-sealapps-app.effective-time | json }}
    </script><!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2R6E4SFKXV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2R6E4SFKXV');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png">
    {%- endif -%}

    {%- capture seo_title -%}
      {%- if request.page_type == 'search' and search.performed == true -%}
        {{ 'search.heading' | t: count: search.results_count }}:
        {{ 'search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      {%- else -%}
        {{ page_title }}
      {%- endif -%}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' -%}
        &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {% render 'social-meta-tags' %}

    {% if template.name == 'index' %}
      <link rel="preload" as="image" href="https://cdn.shopify.com/s/files/1/0652/7945/9557/files/Brand_Stock_Photos-17.jpg">
    {% endif %}

    {% render 'theme-setup' %}
    {% render 'theme-setting-vars' %}
    <!-- Add Critical CSS -->
    {% case template.name %}
      {% when 'index' %}
        {% render 'critical-css-home' %}
      {% when 'collection' %}
        {% render 'critical-css-collection' %}
      {% when 'product' %}
        {% render 'critical-css-product' %}
    {% endcase %}
    <!--  End Critical CSS -->
    {%- render 'theme-globals' -%}


    {% comment %}{{ content_for_header }}{% endcomment %}
    {{ content_for_header | replace : ' href=', ' data-href=' | replace : "addEventListener('load'", "addEventListener('wnw_load'" | replace : "document.addEventListener('DOMContentLoaded", "document.addEventListener('DOMContentLoaded2" | replace : 'defer="defer" src=', 'type="lazyload2" defer="defer" data-src=' }}
    {% comment %} <script>var trekkie=[];trekkie.integrations=!0;</script> {% endcomment %}


    {% render "rafp-render" %} <!-- roartheme: FontPicker app -->
    {% include 'talkable-partial' %}
  </head>

  <body class="template-{{ request.page_type | handle }}">
    <div class="page">
      {% if settings.enable_page_transitions %}
        {% render 'page-transition-overlay' %}
      {% endif %}

      <div class="theme-editor-scroll-offset"></div>

      <div class="header__space" data-header-space></div>
      {% section 'announcement-bar' %}
      {% section 'header' %}
      {% section 'quick-cart' %}
      {%- if settings.enable_quick_search -%}
        {% render 'quick-search' %}
      {%- endif -%}

      <div class="header-overlay" data-header-overlay>
        <div class="header-overlay__inner"></div>
      </div>

      <main id="main" class="main">
        {{ content_for_layout }}
      </main>

      {% section 'footer' %}
      {% section 'popup' %}
      {% render 'store-availability-drawer' %}
      {% render 'quick-view-modal' %}
      {% render 'modal' %}
    </div>

    {{ '//www.youtube.com/iframe_api' | script_tag }}
    {{ '//cdn.shopify.com/shopifycloud/shopify-plyr/v1.0/shopify-plyr.css' | stylesheet_tag }}
    {% render 'optimization-js' %}
  </body>
</html>
