{%- capture image_sizes -%}
  (min-width: 720px) calc(calc(100vw - calc(2 * clamp(18px, 3.3vw, 3.3vw))) / {{ section.settings.columns }}),
  calc(calc(100vw - calc(2 * clamp(18px, 3.3vw, 3.3vw))) / {{ section.settings.mobile_columns }})
{%- endcapture -%}

<div
  class="
    collection-list-slider
    section
    section--divider-{{ section.settings.divider_style }}
    {{ section.settings.section_padding }}
    {% if settings.enable_section_animations and section.settings.enable_animation %}
      animation
      animation--list-slider
    {% endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="collection-list-slider"
  data-products-per-view="{{ section.settings.columns }}"
  data-mobile-products-per-view="{{ section.settings.mobile_columns }}"
>
  <div class="collection-list-slider__inner">
    <div class="collection-list-slider__meta carousel__navigation-wrapper">
      <div class="section-introduction animation--section-introduction">
        {%- unless section.settings.heading == blank -%}
          <h2 class="collection-list-slider__heading ff-heading fs-heading-3-base section-introduction__heading">
            {{ section.settings.heading }}
          </h2>
        {%- endunless -%}

        {%- unless section.settings.subheading == blank -%}
          <div class="collection-list-slider__subheading ff-body fs-body-100 rte section-introduction__subheading">
            {{ section.settings.subheading }}
          </div>
        {%- endunless -%}

        {%-
          render 'button-block' with
          wrapper_class: "collection-list-slider__button section-introduction__button",
          link: section.settings.link,
          label: section.settings.link_text,
          button_style: "btn--callout"
        -%}
      </div>

      {%- render 'carousel-navigation' with wrapper_class: 'animation--controls' %}
    </div>

    <div class="
        collection-list-slider__content
        carousel
        carousel--mobile-per-view-{{ section.settings.mobile_columns }}
        carousel--per-view-{{ section.settings.mobile_columns }}
        swiper
      ">
      <div class="collection-list-slider__collections carousel__wrapper swiper-wrapper">
        {%- for collection in section.settings.collection_list -%}
          <div class="collection-list-slider__collection carousel__slide swiper-slide">
            {%
              render 'collection-item' with
              collection: collection,
              aspect_ratio: section.settings.collection_listing_aspect_ratio,
              label_style: section.settings.label_style,
              overlay_text_color: section.settings.overlay_text_color,
              overlay_title_background: section.settings.overlay_title_background,
              overlay_title_background_style: section.settings.overlay_title_background_style
              image_sizes: image_sizes,
            %}
          </div>
        {%- else -%}
          {%- for i in (1..8) -%}
            <div class="collection-list-slider__collection carousel__slide swiper-slide">
              {%
                render 'collection-item' with
                aspect_ratio: section.settings.collection_listing_aspect_ratio,
                label_style: section.settings.label_style,
                overlay_text_color: section.settings.overlay_text_color,
                overlay_title_background: section.settings.overlay_title_background,
                overlay_title_background_style: section.settings.overlay_title_background_style,
                placeholder: true,
                image_sizes: image_sizes,
              %}
            </div>
          {%- endfor -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collection_list_slider.name",
  "tag": "section",
  "templates": [
    "404",
    "article",
    "blog",
    "cart",
    "collection",
    "list-collections",
    "customers/account",
    "customers/activate_account",
    "customers/addresses",
    "customers/login",
    "customers/order",
    "customers/register",
    "customers/reset_password",
    "gift_card",
    "index",
    "page",
    "product",
    "search"
  ],
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.collection_sections_shared.settings.title.label",
      "default": "Collection list"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "t:sections.collection_sections_shared.settings.subheading.label"
    },
    {
      "id": "link",
      "type": "url",
      "label": "t:shared.settings.button_link.label",
      "default": "/collections"
    },
    {
      "id": "link_text",
      "type": "text",
      "label": "t:shared.settings.button_link_text.label",
      "default": "View all collections"
    },
    {
      "type": "header",
      "content": "t:sections.collection_sections_shared.settings.header_collection_list.content"
    },
    {
      "type": "select",
      "id": "columns",
      "label": "t:sections.collection_sections_shared.settings.collection_columns.label",
      "default": "4",
      "options": [
        {
          "value": "3",
          "label": "t:sections.collection_sections_shared.settings.columns.option_3"
        },
        {
          "value": "4",
          "label": "t:sections.collection_sections_shared.settings.columns.option_4"
        },
        {
          "value": "5",
          "label": "t:sections.collection_sections_shared.settings.columns.option_5"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_columns",
      "label": "t:sections.collection_sections_shared.settings.mobile_collection_columns.label",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "t:sections.collection_sections_shared.settings.mobile_columns.option_1"
        },
        {
          "value": "2",
          "label": "t:sections.collection_sections_shared.settings.mobile_columns.option_2"
        }
      ]
    },
    {
      "id": "collection_list",
      "type": "collection_list",
      "label": "t:sections.collection_sections_shared.settings.collection_list.label"
    },
    {
      "type": "header",
      "content": "t:shared.settings.collection_listing.header_collection_listing.content"
    },
    {
      "type": "select",
      "id": "collection_listing_aspect_ratio",
      "label": "t:shared.settings.collection_listing.collection_listing_aspect_ratio.label",
      "default": "square",
      "options": [
        {
          "value": "natural",
          "label": "t:shared.settings.aspect_ratio.option_natural"
        },
        {
          "value": "square",
          "label": "t:shared.settings.aspect_ratio.option_square"
        },
        {
          "value": "portrait",
          "label": "t:shared.settings.aspect_ratio.option_portrait"
        },
        {
          "value": "landscape",
          "label": "t:shared.settings.aspect_ratio.option_landscape"
        }
      ]
    },
    {
      "type": "select",
      "id": "label_style",
      "label": "t:shared.settings.collection_listing.label_style.label",
      "default": "overlay",
      "options": [
        {
          "value": "overlay",
          "label": "t:shared.settings.collection_listing.label_style.option_overlay"
        },
        {
          "value": "beneath",
          "label": "t:shared.settings.collection_listing.label_style.option_beneath"
        }
      ]
    },
    {
      "type": "select",
      "id": "overlay_title_background_style",
      "label": "t:shared.settings.collection_listing.overlay_title_background_style.label",
      "default": "gradient",
      "options": [
        {
          "value": "solid",
          "label": "t:shared.settings.collection_listing.overlay_title_background_style.option_solid"
        },
        {
          "value": "gradient",
          "label": "t:shared.settings.collection_listing.overlay_title_background_style.option_gradient"
        }
      ]
    },
    {
      "type": "color",
      "id": "overlay_text_color",
      "label": "t:shared.settings.collection_listing.overlay_text_color.label",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "overlay_title_background",
      "label": "t:shared.settings.collection_listing.overlay_title_background.label",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header_style.content"
    },
    {
      "id": "enable_animation",
      "type": "checkbox",
      "label": "t:shared.settings.section_style.enable_animation.label",
      "info": "t:shared.settings.section_style.enable_animation.info",
      "default": true
    },
    {
      "type": "select",
      "id": "divider_style",
      "label": "t:shared.settings.section_style.divider_style.label",
      "default": "none",
      "options": [
        {
          "label": "t:shared.settings.section_style.divider_style.option_none",
          "value": "none"
        },
        {
          "label": "t:shared.settings.section_style.divider_style.option_solid",
          "value": "solid"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "t:shared.settings.section_style.section_padding.label",
      "default": "section--vertical-padding-top-bottom",
      "options": [
        {
          "label": "t:shared.settings.section_style.section_padding.option_none",
          "value": "section--vertical-padding-none"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_both",
          "value": "section--vertical-padding-top-bottom"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_top",
          "value": "section--vertical-padding-top-only"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_bottom",
          "value": "section--vertical-padding-bottom-only"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection_list_slider.presets.name"
    }
  ]
}
{% endschema %}
