<div
  class="
    collapsible-row-list
    section
    {{ section.settings.section_padding }}
    section--divider-{{ section.settings.divider_style }}
    {% if settings.enable_section_animations and section.settings.enable_animation %}
      animation
      animation--collapsible-row-list
    {% endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="collapsible-row-list"
  style="
    --heading-alignment: {{ section.settings.heading_alignment }};
    {% if section.settings.content_width == 'custom' %}
      --content-width: {{ section.settings.custom_content_width }}px;
    {% endif %}
  "
>
  <div class="collapsible-row-list__inner">
    {%- if section.settings.title != blank -%}
      <h2 class="collapsible-row-list__heading ff-heading {{ section.settings.heading_font_class }}">
        {{ section.settings.title }}
      </h2>
    {%- endif -%}

    {%- for block in section.blocks -%}
      {%-
        render 'collapsible-row-list-item' with
        block: block,
        item_heading_font: section.settings.item_heading_font,
        forloop: forloop
      -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.collapsible_row_list.name",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.collapsible_row_list.settings.title.label",
        "default": "Accordion list"
      },
      {
        "type": "select",
        "id": "heading_font_class",
        "label": "t:shared.settings.heading_font_class.label",
        "default": "fs-heading-3-base",
        "options": [
          {
            "value": "fs-heading-4-base",
            "label": "t:shared.settings.heading_font_class.option_small"
          },
          {
            "value": "fs-heading-3-base",
            "label": "t:shared.settings.heading_font_class.option_medium"
          },
          {
            "value": "fs-heading-2-base",
            "label": "t:shared.settings.heading_font_class.option_large"
          }
        ]
      },
      {
        "type": "select",
        "id": "heading_alignment",
        "label": "t:shared.settings.heading_alignment.label",
        "options": [
          {
            "value": "left",
            "label": "t:shared.settings.heading_alignment.option_left"
          },
          {
            "value": "center",
            "label": "t:shared.settings.heading_alignment.option_center"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.collapsible_row_list.settings.header__items.content"
      },
      {
        "id": "item_heading_font",
        "type": "select",
        "label": "t:sections.collapsible_row_list.settings.item_heading_font.label",
        "default": "heading",
        "options": [
          {
            "value": "heading",
            "label": "t:sections.collapsible_row_list.settings.item_heading_font.option_heading"
          },
          {
            "value": "body",
            "label": "t:sections.collapsible_row_list.settings.item_heading_font.option_body"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:shared.settings.section_style.header_style.content"
      },
      {
        "id": "enable_animation",
        "type": "checkbox",
        "label": "t:shared.settings.section_style.enable_animation.label",
        "info": "t:shared.settings.section_style.enable_animation.info",
        "default": true
      },
      {
        "type": "select",
        "id": "divider_style",
        "label": "t:shared.settings.section_style.divider_style.label",
        "default": "none",
        "options": [
          {
            "label": "t:shared.settings.section_style.divider_style.option_none", "value": "none"
          },
          {
            "label": "t:shared.settings.section_style.divider_style.option_solid", "value": "solid"
          }
        ]
      },
      {
        "type": "select",
        "id": "section_padding",
        "label": "t:shared.settings.section_style.section_padding.label",
        "default": "section--vertical-padding-top-bottom",
        "options": [
          {
            "label": "t:shared.settings.section_style.section_padding.option_none",
            "value": "section--vertical-padding-none"
          },
          {
            "label": "t:shared.settings.section_style.section_padding.option_both",
            "value": "section--vertical-padding-top-bottom"
          },
          {
            "label": "t:shared.settings.section_style.section_padding.option_top",
            "value": "section--vertical-padding-top-only"
          },
          {
            "label": "t:shared.settings.section_style.section_padding.option_bottom",
            "value": "section--vertical-padding-bottom-only"
          }
        ]
      },
      {
        "type": "radio",
        "id": "content_width",
        "label": "t:shared.settings.section_style.content_width.label",
        "options": [
          { "value": "full", "label": "t:shared.settings.section_style.content_width.option_full" },
          { "value": "custom", "label": "t:shared.settings.section_style.content_width.option_custom" }
        ],
        "default": "custom"
      },
      {
        "type": "range",
        "id": "custom_content_width",
        "label": "t:shared.settings.section_style.custom_content_width.label",
        "unit": "px",
        "min": 400,
        "max": 1000,
        "step": 50,
        "default": 700
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "t:sections.collapsible_row_list.blocks.item.name",
        "settings": [
          {
            "id": "expand_by_default",
            "type": "checkbox",
            "label": "t:sections.collapsible_row_list.blocks.item.settings.expand_by_default.label",
            "default": false
          },
          {
            "type": "select",
            "id": "icon",
            "label": "t:sections.collapsible_row_list.blocks.item.settings.icon.label",
            "default": "none",
            "options": [{"value":"none","label":"t:shared.settings.icon.option_none"},{"value":"bank","label":"t:shared.settings.icon.option_bank"},{"value":"bill","label":"t:shared.settings.icon.option_bill"},{"value":"bottle","label":"t:shared.settings.icon.option_bottle"},{"value":"chat","label":"t:shared.settings.icon.option_chat"},{"value":"chat-empty","label":"t:shared.settings.icon.option_chat_empty"},{"value":"checked-box","label":"t:shared.settings.icon.option_checked_box"},{"value":"clothes-button","label":"t:shared.settings.icon.option_clothes_button"},{"value":"clothes-hanger","label":"t:shared.settings.icon.option_clothes_hanger"},{"value":"cotton","label":"t:shared.settings.icon.option_cotton"},{"value":"envelope","label":"t:shared.settings.icon.option_envelope"},{"value":"globe","label":"t:shared.settings.icon.option_globe"},{"value":"hand-washing","label":"t:shared.settings.icon.option_hand_washing"},{"value":"heart","label":"t:shared.settings.icon.option_heart"},{"value":"laundry-dryer","label":"t:shared.settings.icon.option_laundry_dryer"},{"value":"laundry-washer","label":"t:shared.settings.icon.option_laundry_washer"},{"value":"leaf","label":"t:shared.settings.icon.option_leaf"},{"value":"lipstick","label":"t:shared.settings.icon.option_lipstick"},{"value":"measuring-tape","label":"t:shared.settings.icon.option_measuring_tape"},{"value":"model-silhouette","label":"t:shared.settings.icon.option_silhouette"},{"value":"money-bills","label":"t:shared.settings.icon.option_money_bills"},{"value":"moving-truck","label":"t:shared.settings.icon.option_moving_truck"},{"value":"package-open","label":"t:shared.settings.icon.option_package_open"},{"value":"package-closed","label":"t:shared.settings.icon.option_package_closed"},{"value":"padlock","label":"t:shared.settings.icon.option_padlock"},{"value":"paper-airplane","label":"t:shared.settings.icon.option_paper_airplane"},{"value":"paw-print","label":"t:shared.settings.icon.option_paw_print"},{"value":"plant","label":"t:shared.settings.icon.option_plant"},{"value":"price-tag","label":"t:shared.settings.icon.option_price_tag"},{"value":"question-mark","label":"t:shared.settings.icon.option_question_mark"},{"value":"recycle-symbol","label":"t:shared.settings.icon.option_recycle_symbol"},{"value":"ruler","label":"t:shared.settings.icon.option_ruler"},{"value":"scissors","label":"t:shared.settings.icon.option_scissors"},{"value":"security-badge","label":"t:shared.settings.icon.option_security_badge"},{"value":"stiletto","label":"t:shared.settings.icon.option_stiletto"},{"value":"stopwatch","label":"t:shared.settings.icon.option_stopwatch"},{"value":"sunflower","label":"t:shared.settings.icon.option_sunflower"},{"value":"t-shirt","label":"t:shared.settings.icon.option_tshirt"},{"value":"washing-symbol","label":"t:shared.settings.icon.option_washing_symbol"},{"value":"water-bottle","label":"t:shared.settings.icon.option_water_bottle"}]
          },
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.collapsible_row_list.blocks.item.settings.title.label",
            "default": "This is an example of a question that a customer might ask"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "t:sections.collapsible_row_list.blocks.item.settings.text.label",
            "default": "<p>This is an example of a response that you might give. It's good to be as thorough as possible in responses as that has a tendency to improve trust overall.</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.collapsible_row_list.presets.name",
        "blocks": [
          {
            "type": "item"
          },
          {
            "type": "item"
          },
          {
            "type": "item"
          },
          {
            "type": "item"
          }
        ]
      }
    ]
  }
{% endschema %}
