{% if section.settings.image and section.settings.video_url %}
  {% assign video_poster = section.settings.image | image_url: width: 400 %}
{% endif %}

{%- if section.settings.product_image_size == "small" -%}
  {%- assign image_sizes_fraction = 0.5 -%}
{%- elsif section.settings.product_image_size == "medium" -%}
  {%- assign image_sizes_fraction = 0.67 -%}
{%- elsif section.settings.product_image_size == "large" -%}
  {%- assign image_sizes_fraction = 0.84 -%}
{%- endif -%}

{% comment %} divided_by 4 because half the container is the image grid, and that grid is 2x2 so each column is one 4th{% endcomment %}
{% assign image_sizes_fraction = image_sizes_fraction | divided_by: 4 %}

{%- capture image_sizes -%}
  calc((100vw - (2 * clamp(18px, 3.3vw, 3.3vw))) * {{ image_sizes_fraction }})
{%- endcapture -%}

<div
  data-section-id="{{ section.id }}"
  data-section-type="complete-the-look"
  class="
    complete-the-look
    complete-the-look--image-{{ section.settings.image_position }}
    section
    section--divider-{{ section.settings.divider_style }}
    {{ section.settings.section_padding }}
    {% if settings.enable_section_animations and section.settings.enable_animation %}
      animation
      animation--complete-the-look
    {% endif %}
  "
>
  <div class="section__inner complete-the-look__inner">
    {%- unless section.settings.heading == blank and section.settings.subheading == blank and section.settings.link_text == blank -%}
      <div class="complete-the-look__text-content section-introduction animation--section-introduction">
        {%- unless section.settings.heading == blank -%}
          <h2 class="complete-the-look__heading ff-heading fs-heading-3-base section-introduction__heading">
            {{ section.settings.heading | newline_to_br }}
          </h2>
        {%- endunless -%}

        {%- unless section.settings.subheading == blank -%}
          <div class="complete-the-look__subheading fs-body-100 rte section-introduction__subheading">
            {{ section.settings.subheading }}
          </div>
        {%- endunless -%}

        {%- unless section.settings.link_text == blank -%}
          {%-
            render 'button-block' with
            wrapper_class: "complete-the-look__cta-button section-introduction__button",
            link: section.settings.link,
            label: section.settings.link_text,
            button_style: section.settings.button_style
          -%}
        {%- endunless -%}
      </div>
    {%- endunless -%}
    <div class="complete-the-look__inner-items">
      <div class="complete-the-look__image-container">
        <div class="complete-the-look__image-container-inner">
          <div class="complete-the-look__image-wrapper">
            {%- if section.settings.video_url -%}
              {%
                render 'video' with
                video: section.settings.video_url,
                aspect_ratio: section.settings.aspect_ratio,
                poster: video_poster,
                controls: section.settings.video_controls,
                loop: section.settings.video_loop
              %}
            {%- elsif section.settings.image -%}
              {%
                render 'image' with
                image: section.settings.image,
                wrapper_class: 'complete-the-look__image',
                aspect_ratio: section.settings.aspect_ratio,
                sizes: "(min-width: 960px) calc(calc(100vw - calc(2 * 120)) * 0.55), (min-width: 720px) calc(100vw - calc(2 * 80px)), calc(100vw - calc(2 * 20px))",
                animate: true
              %}
            {%- else -%}
              {%-
                render 'placeholder-image' with
                placeholder_name: 'collection-4',
                wrapper_class: 'complete-the-look__image',
                aspect_ratio: section.settings.aspect_ratio,
                natural_fallback_ratio: 'square'
              -%}
            {%- endif -%}
          </div>
        </div>
      </div>

      <div class="complete-the-look__secondary-content">
        <div class="complete-the-look__products" data-count="{{ section.blocks.size }}">
          {%- for block in section.blocks -%}
            <div
              class="complete-the-look__product"
              data-index="{{ forloop.index0 }}"
              data-image-size="{{ section.settings.product_image_size }}"
            >
              {%
                render 'product-card-mini' with
                block: block,
                product: block.settings.product_item,
                index: forloop.index,
                class: 'alt-layout-below-960',
                aspect_ratio: settings.product_listing_aspect_ratio,
                render_shopify_attributes: true,
                custom_product_image: block.settings.custom_product_image
                image_sizes: image_sizes,
              %}
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.complete_the_look.name",
  "tag": "section",
  "templates": [
    "404",
    "article",
    "blog",
    "cart",
    "collection",
    "list-collections",
    "customers/account",
    "customers/activate_account",
    "customers/addresses",
    "customers/login",
    "customers/order",
    "customers/register",
    "customers/reset_password",
    "gift_card",
    "index",
    "page",
    "product",
    "search"
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.complete_the_look.settings.large_media_header.content"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "t:sections.complete_the_look.settings.image.label"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "t:sections.complete_the_look.settings.video_url.label",
      "info": "t:sections.complete_the_look.settings.video_url.info"
    },
    {
      "type": "checkbox",
      "id": "video_loop",
      "default": true,
      "label": "t:sections.complete_the_look.settings.video_loop.label"
    },
    {
      "type": "checkbox",
      "id": "video_controls",
      "default": false,
      "label": "t:sections.complete_the_look.settings.video_controls.label"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "t:sections.complete_the_look.settings.image_position.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:sections.complete_the_look.settings.image_position.option_left"
        },
        {
          "value": "right",
          "label": "t:sections.complete_the_look.settings.image_position.option_right"
        }
      ]
    },
    {
      "id": "aspect_ratio",
      "type": "select",
      "label": "t:shared.settings.aspect_ratio.label",
      "options": [
        {
          "label": "t:shared.settings.aspect_ratio.option_natural",
          "value": "natural"
        },
        {
          "label": "t:shared.settings.aspect_ratio.option_square",
          "value": "square"
        },
        {
          "label": "t:shared.settings.aspect_ratio.option_landscape_alt",
          "value": "landscape_alt"
        },
        {
          "label": "t:shared.settings.aspect_ratio.option_portrait_alt",
          "value": "portrait_alt"
        }
      ],
      "default": "portrait_alt"
    },
    {
      "type": "header",
      "content": "t:sections.complete_the_look.settings.header__text.content"
    },
    {
      "id": "heading",
      "type": "text",
      "label": "t:sections.complete_the_look.settings.heading.label",
      "default": "Complete the look"
    },
    {
      "id": "subheading",
      "type": "richtext",
      "label": "t:sections.complete_the_look.settings.subheading.label",
      "default": "<p>Use this section to highlight different products within an image</p>"
    },
    {
      "type": "header",
      "content": "t:sections.complete_the_look.settings.cta_header.content"
    },
    {
      "id": "link",
      "type": "url",
      "label": "t:sections.complete_the_look.settings.link.label"
    },
    {
      "id": "link_text",
      "type": "text",
      "label": "t:sections.complete_the_look.settings.link_text.label",
      "default": "Shop now"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:shared.settings.button_style.label",
      "default": "btn--callout",
      "options": [
        {
          "value": "btn--primary",
          "label": "t:shared.settings.button_style.option_solid"
        },
        {
          "value": "btn--secondary",
          "label": "t:shared.settings.button_style.option_outline"
        },
        {
          "value": "btn--callout",
          "label": "t:shared.settings.button_style.option_text"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.complete_the_look.settings.header__product_cards.content"
    },
    {
      "id": "product_image_size",
      "type": "select",
      "label": "t:sections.complete_the_look.settings.product_image_size.label",
      "options": [
        {
          "label": "t:sections.complete_the_look.settings.product_image_size.option_small",
          "value": "small"
        },
        {
          "label": "t:sections.complete_the_look.settings.product_image_size.option_medium",
          "value": "medium"
        },
        {
          "label": "t:sections.complete_the_look.settings.product_image_size.option_large",
          "value": "large"
        }
      ],
      "default": "small"
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header_style.content"
    },
    {
      "id": "enable_animation",
      "type": "checkbox",
      "label": "t:shared.settings.section_style.enable_animation.label",
      "info": "t:shared.settings.section_style.enable_animation.info",
      "default": true
    },
    {
      "type": "select",
      "id": "divider_style",
      "label": "t:shared.settings.section_style.divider_style.label",
      "default": "none",
      "options": [
        {
          "label": "t:shared.settings.section_style.divider_style.option_none",
          "value": "none"
        },
        {
          "label": "t:shared.settings.section_style.divider_style.option_solid",
          "value": "solid"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "t:shared.settings.section_style.section_padding.label",
      "default": "section--vertical-padding-top-bottom",
      "options": [
        {
          "label": "t:shared.settings.section_style.section_padding.option_none",
          "value": "section--vertical-padding-none"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_both",
          "value": "section--vertical-padding-top-bottom"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_top",
          "value": "section--vertical-padding-top-only"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_bottom",
          "value": "section--vertical-padding-bottom-only"
        }
      ]
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "product",
      "name": "t:sections.complete_the_look.blocks.product.name",
      "limit": 6,
      "settings": [
        {
          "id": "product_item",
          "type": "product",
          "label": "t:sections.complete_the_look.blocks.product.settings.product_item.label"
        },
        {
          "id": "custom_product_image",
          "type": "image_picker",
          "label": "t:sections.complete_the_look.blocks.product.settings.custom_product_image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.complete_the_look.presets.name",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
