{%- liquid
  assign max_products = section.settings.maximum_products
-%}

{%- for block in section.blocks -%}
  {%- liquid
    assign collection_has_more_products = false
    assign carousel_navigation_class = 'featured-collection-slider__navigation-buttons animation--controls'

    if forloop.first
      assign carousel_navigation_class = carousel_navigation_class | append: ' visible'
    endif

    if block.type == 'product_list'
      assign featured_collection_products = block.settings.product_list
    else
      assign featured_collection_products = block.settings.collection.products
    endif

    if block.settings.collection.products.size > max_products and block.type == 'collection'
      assign collection_has_more_products = true
    endif
  -%}

  {%- capture navigation_list_items -%}
    {{ navigation_list_items }}
    <li>
      <button
        type="button"
        class="featured-collection-slider__navigation-list-item{% if forloop.first %} selected{% endif %}"
        data-navigation-item="{{ forloop.index0 }}"
      >
        <span class="ff-heading fs-body-150">{{ block.settings.collection_name }}</span>
        <span class="indicator"></span>
      </button>
    </li>
  {%- endcapture -%}
  {%- capture navigation_buttons -%}
    {{ navigation_buttons }}
    {%- capture index_attribute -%}data-navigation="{{ forloop.index0 }}"{%- endcapture -%}
    {%- render 'carousel-navigation' with wrapper_class: carousel_navigation_class, data_attribute: index_attribute -%}
  {%- endcapture -%}

  {%- capture carousel_elements -%}
    {{ carousel_elements }}
    <div
      class="featured-collection-slider__content carousel swiper{% if forloop.first %} visible{% endif %}"
      data-collection="{{ forloop.index0 }}"
      {{ block.shopify_attributes }}
    >
      <div class="featured-collection-slider__products carousel__wrapper swiper-wrapper">
        {%- for product in featured_collection_products limit: max_products -%}
          <div class="featured-collection-slider__product carousel__slide swiper-slide">
            {% render 'product-item', prod: product, aspect_ratio: settings.product_listing_aspect_ratio, product_columns: section.settings.columns %}
          </div>
        {%- else -%}
          {%- for i in (1..max_products) -%}
            <div class="featured-collection-slider__product carousel__slide swiper-slide">
              {% render 'product-item', aspect_ratio: settings.product_listing_aspect_ratio, product_columns: section.settings.columns, placeholder: true %}
            </div>
          {%- endfor -%}
        {%- endfor -%}

        {%- if block.settings.show_view_all and collection_has_more_products and block.settings.collection_name != blank -%}
          <div class="featured-collection-slider__content-view-all-wrapper swiper-slide">
            <div class="featured-collection-slider__content-view-all">
              <h4 class="featured-collection-slider__content-view-all-header ff-heading fs-heading-4-base">
                {{ block.settings.collection_name }}
              </h4>
              <a
                href="{{ block.settings.collection.url }}"
                class="featured-collection-slider__view-all btn btn--callout"
              >
                <span>
                  {{- 'collections.general.view_all' | t -}}
                </span>
              </a>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endcapture -%}
{%- endfor -%}

<div
  class="
    featured-collection-slider
    featured-collection-slider--mobile-per-view-{{ section.settings.mobile_columns }}
    featured-collection-slider--per-view-{{ section.settings.mobile_columns }}
    section
    section--includes-product-items
    section--divider-{{ section.settings.divider_style }}
    {{ section.settings.section_padding }}
    {% if settings.enable_section_animations and section.settings.enable_animation %}
      animation
      animation--list-slider
    {% endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="featured-collection-slider"
  data-products-per-view="{{ section.settings.columns }}"
  data-mobile-products-per-view="{{ section.settings.mobile_columns }}"
>
  <div class="featured-collection-slider__inner">
    <div class="featured-collection-slider__meta{% if section.blocks.size == 1 %} carousel__navigation-wrapper{% endif %}">
      <div class="section-introduction animation--section-introduction">
        {%- unless section.settings.heading == blank -%}
          <h2 class="featured-collection-slider__heading section-introduction__heading ff-heading fs-heading-3-base">
            {{ section.settings.heading }}
          </h2>
        {%- endunless -%}

        {%- unless section.settings.subheading == blank -%}
          <div class="featured-collection-slider__subheading section-introduction__subheading rte ff-body fs-body-100">
            {{ section.settings.subheading }}
          </div>
        {%- endunless -%}

        {%-
          render 'button-block' with
          wrapper_class: "featured-collection-slider__header-button section-introduction__button",
          link: section.settings.link,
          label: section.settings.link_text,
          button_style: "btn--callout"
        -%}
      </div>

      {%- if section.blocks.size == 1 -%}
        {{ navigation_buttons }}
      {%- elsif section.blocks.size > 1 -%}
        <div class="featured-collection-slider__meta-controls">
          <ul class="featured-collection-slider__navigation-list animation--controls">
            {{ navigation_list_items }}
          </ul>
          {{ navigation_buttons }}
        </div>
      {%- endif -%}
    </div>

    {{ carousel_elements }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured_collection_slider.name",
  "tag": "section",
  "class": "featured-collections-slider-wrap",
  "templates": [
    "404",
    "article",
    "blog",
    "cart",
    "collection",
    "list-collections",
    "customers/account",
    "customers/activate_account",
    "customers/addresses",
    "customers/login",
    "customers/order",
    "customers/register",
    "customers/reset_password",
    "gift_card",
    "index",
    "page",
    "product",
    "search"
  ],
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.collection_sections_shared.settings.title.label",
      "default": "Featured collection"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "t:sections.collection_sections_shared.settings.subheading.label"
    },
    {
      "id": "link",
      "type": "url",
      "label": "t:sections.shoppable_feature.settings.link.label"
    },
    {
      "id": "link_text",
      "type": "text",
      "label": "t:sections.shoppable_feature.settings.link_text.label"
    },
    {
      "type": "header",
      "content": "t:sections.collection_sections_shared.settings.header_product_list.content"
    },
    {
      "type": "range",
      "id": "maximum_products",
      "label": "t:sections.collection_sections_shared.settings.maximum_products.label",
      "min": 3,
      "max": 15,
      "step": 1,
      "default": 8
    },
    {
      "type": "select",
      "id": "columns",
      "label": "t:sections.collection_sections_shared.settings.columns.label",
      "default": "4",
      "options": [
        {
          "value": "3",
          "label": "t:sections.collection_sections_shared.settings.columns.option_3"
        },
        {
          "value": "4",
          "label": "t:sections.collection_sections_shared.settings.columns.option_4"
        },
        {
          "value": "5",
          "label": "t:sections.collection_sections_shared.settings.columns.option_5"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_columns",
      "label": "t:sections.collection_sections_shared.settings.mobile_columns.label",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "t:sections.collection_sections_shared.settings.mobile_columns.option_1"
        },
        {
          "value": "2",
          "label": "t:sections.collection_sections_shared.settings.mobile_columns.option_2"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header_style.content"
    },
    {
      "id": "enable_animation",
      "type": "checkbox",
      "label": "t:shared.settings.section_style.enable_animation.label",
      "info": "t:shared.settings.section_style.enable_animation.info",
      "default": true
    },
    {
      "type": "select",
      "id": "divider_style",
      "label": "t:shared.settings.section_style.divider_style.label",
      "default": "none",
      "options": [
        {
          "label": "t:shared.settings.section_style.divider_style.option_none",
          "value": "none"
        },
        {
          "label": "t:shared.settings.section_style.divider_style.option_solid",
          "value": "solid"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "t:shared.settings.section_style.section_padding.label",
      "default": "section--vertical-padding-top-bottom",
      "options": [
        {
          "label": "t:shared.settings.section_style.section_padding.option_none",
          "value": "section--vertical-padding-none"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_both",
          "value": "section--vertical-padding-top-bottom"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_top",
          "value": "section--vertical-padding-top-only"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_bottom",
          "value": "section--vertical-padding-bottom-only"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "t:sections.featured_collection_slider.blocks.collection.name",
      "limit": 3,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.collection_sections_shared.settings.header__view_all.content"
        },
        {
          "id": "show_view_all",
          "type": "checkbox",
          "label": "t:sections.collection_sections_shared.settings.show_view_all.label",
          "info": "t:sections.collection_sections_shared.settings.show_view_all.info",
          "default": true
        },
        {
          "id": "collection",
          "type": "collection",
          "label": "t:sections.collection_sections_shared.settings.collection.label"
        },
        {
          "type": "text",
          "id": "collection_name",
          "label": "t:sections.featured_collection_slider.blocks.collection.settings.collection_name.label",
          "default": "Collection"
        }
      ]
    },
    {
      "type": "product_list",
      "name": "t:sections.featured_collection_slider.blocks.product_list.name",
      "limit": 3,
      "settings": [
        {
          "id": "product_list",
          "type": "product_list",
          "label": "t:sections.collection_sections_shared.settings.product_list.label"
        },
        {
          "type": "text",
          "id": "collection_name",
          "label": "t:sections.featured_collection_slider.blocks.collection.settings.collection_name.label",
          "default": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_collection_slider.presets.name",
      "blocks": [
        {
          "type": "collection",
          "settings": {
            "collection_name": "First collection"
          }
        },
        {
          "type": "collection",
          "settings": {
            "collection_name": "Second collection"
          }
        }
      ]
    }
  ]
}
{% endschema %}
