{%- liquid
  assign has_background_color = false

  if section.settings.background_color != blank and section.settings.background_color != 'rgba(0,0,0,0)'
    assign has_background_color = true
  endif

  assign show_animations = false
  if settings.enable_section_animations and section.settings.enable_animation
    assign show_animations = true
  endif
-%}

{%- capture image_sizes -%}
  (min-width: 720px) calc(calc(50vw - calc(2 * clamp(18px, 3.3vw, 3.3vw)))), calc(100vw - calc(2 * 3.3vw))
{%- endcapture -%}

{%- capture section_classes -%}
  section section--divider-{{ section.settings.divider_style }}
  {{ section.settings.section_padding }}
{%- endcapture -%}

<div
  class="
    image-with-text
    image-with-text--justify-{{ section.settings.text_alignment }}
    image-with-text--image-{{ section.settings.image_position }}
    {% unless section.settings.image_caption == blank %}
      image-with-text--has-image-caption
    {% endunless %}
    {% if section.settings.show_small_image %}
      image-with-text--has-small-image
    {% endif %}
    {% unless has_background_color %}
      {{ section_classes }}
    {% endunless %}
    {% if show_animations %}
      animation
      animation--image-with-text
    {% endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="image-with-text"
  style="
    --section-background-color: {{ section.settings.background_color }};
    --color-text: {{ section.settings.text_color }};
    --color-text-alpha-60: {{ section.settings.text_color | color_modify: 'alpha', 0.6 }};
    --color-text-link: {{ section.settings.text_color }};
    --text-alignment: {{ section.settings.text_alignment }};
    --small-image-placeholder-color: {{ settings.color_text | color_modify: 'alpha', 0.7 }};
    {% render 'overlay-button-vars' with color_button_text: section.settings.button_text_color, color_button_background: section.settings.button_background_color %}
  "
>
  <div class="
      image-with-text__inner
      {% if has_background_color %}
        {{ section_classes }}
      {% endif %}
    ">
    <div class="image-with-text__content">
      <div class="image-with-text__image-container">
        <div class="image-with-text__image-container-inner">
          <figure class="image-with-text__image-wrapper">
            {%-
              render 'image' with
              wrapper_class: "image-with-text__image",
              image: section.settings.image,
              sizes: image_sizes,
              aspect_ratio: section.settings.aspect_ratio,
              focal_point: section.settings.focal_point,
              include_placeholder: true,
              animate: show_animations
            -%}

            {%- unless section.settings.image_caption == blank -%}
              <figcaption class="image-with-text__image-caption ff-body fs-body-50">
                {{ section.settings.image_caption }}
              </figcaption>
            {%- endunless -%}
          </figure>

          {%- if section.settings.show_small_image -%}
            <div class="image-with-text__small-image-wrapper">
              {%-
                render 'image' with
                wrapper_class: "image-with-text__small-image",
                image: section.settings.image_small,
                sizes: "300px",
                aspect_ratio: section.settings.image_small_aspect_ratio,
                focal_point: section.settings.image_small_focal_point,
                include_placeholder: true,
                animate: show_animations
              -%}
            </div>
          {%- endif -%}
        </div>
      </div>

      <div class="image-with-text__text-container">
        <div class="
            image-with-text__text-container-inner
            section-blocks
            {% if show_animations %}animation--section-blocks{% endif %}
          ">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'accent' -%}
                {%- unless block.settings.accent == blank -%}
                  <p class="image-with-text__text-container-accent fs-accent section-blocks__accent">
                    {{ block.settings.accent }}
                  </p>
                {%- endunless -%}
              {%- when 'heading' -%}
                {%- unless block.settings.title == blank -%}
                  <h2 class="image-with-text__text-container-heading ff-heading {{ block.settings.heading_font_class }} section-blocks__heading">
                    {{ block.settings.title }}
                  </h2>
                {%- endunless -%}
              {%- when 'subheading' -%}
                {%- unless block.settings.subheading == blank -%}
                  <h2 class="image-with-text__text-container-subheading ff-heading lh-subheading {{ block.settings.subheading_font_class }} section-blocks__subheading">
                    {{ block.settings.subheading }}
                  </h2>
                {%- endunless -%}
              {%- when 'text' -%}
                {%- unless block.settings.text == blank -%}
                  <div class="image-with-text__text-container-text rte ff-body {{ block.settings.text_font_class }} section-blocks__text">
                    {{ block.settings.text }}
                  </div>
                {%- endunless -%}
              {%- when 'image' -%}
                {%-
                  render 'image-block' with
                  shopify_attributes: block.shopify_attributes,
                  wrapper_class: 'image-with-text__text-container-image section-blocks__image  section-blocks__image',
                  image: block.settings.image,
                  width: block.settings.image_size,
                  mobile_width: block.settings.image_size_mobile,
                  break_to_mobile_at: '720',
                  align: section.settings.text_alignment
                -%}
              {%- when 'button' -%}
                {%-
                  render 'button-block' with
                  wrapper_class: "image-with-text__text-container-button section-blocks__button",
                  link: block.settings.link,
                  label: block.settings.link_text,
                  button_style: block.settings.button_style,
                  is_overlay: true,
                  button_alignment: section.settings.text_alignment,
                  buttons_can_inline: true,
                  forloop: forloop
                -%}
              {%- when 'play-button' -%}
                {%-
                  render 'play-button-block' with
                  wrapper_class: 'image-with-text__text-container-play-button section-blocks__video-button',
                  shopify_attributes: block.shopify_attributes,
                  poster_image: block.settings.poster_image,
                  poster_aspect: block.settings.aspect_ratio,
                  video_url: block.settings.video_url,
                  label: block.settings.text,
                  button_alignment: section.settings.text_alignment,
                  icon_style: block.settings.icon_style
                -%}
              {%- when 'border' -%}
                {%- render 'border-block' -%}
              {%- when 'spacer' -%}
                {%- render 'spacer-block' with space: block.settings.space -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.image_with_text.name",
    "tag": "section",
    "settings": [
      {
        "type": "select",
        "id": "image_position",
        "label": "t:sections.image_with_text.settings.image_position.label",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label": "t:sections.image_with_text.settings.image_position.option_left"
          },
          {
            "value": "right",
            "label": "t:sections.image_with_text.settings.image_position.option_right"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "t:sections.image_with_text.settings.text_alignment.label",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "t:shared.settings.alignment_horizontal.option_left"
          },
          {
            "value": "center",
            "label": "t:shared.settings.alignment_horizontal.option_center"
          },
          {
            "value": "right",
            "label": "t:shared.settings.alignment_horizontal.option_right"
          }
        ]
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "t:sections.image_with_text.settings.image.label"
      },
      {
        "type": "select",
        "id": "aspect_ratio",
        "label": "t:shared.settings.aspect_ratio.label",
        "default": "square",
        "options": [
          {
            "value": "natural",
            "label": "t:shared.settings.aspect_ratio.option_natural"
          },
          {
            "value": "square",
            "label": "t:shared.settings.aspect_ratio.option_square"
          },
          {
            "value": "portrait",
            "label": "t:shared.settings.aspect_ratio.option_portrait"
          },
          {
            "value": "landscape",
            "label": "t:shared.settings.aspect_ratio.option_landscape"
          }
        ]
      },
      {
        "id": "focal_point",
        "type": "select",
        "label": "t:shared.settings.focal_point.label",
        "options": [{"label":"t:shared.settings.focal_point.option_center","value":"center"},{"label":"t:shared.settings.focal_point.option_top","value":"top"},{"label":"t:shared.settings.focal_point.option_bottom","value":"bottom"},{"label":"t:shared.settings.focal_point.option_left","value":"left"},{"label":"t:shared.settings.focal_point.option_right","value":"right"}],
        "default": "center"
      },
      {
        "type": "text",
        "id": "image_caption",
        "label": "t:sections.image_with_text.settings.image_caption.label"
      },
      {
        "id": "show_small_image",
        "type": "checkbox",
        "label": "t:sections.image_with_text.settings.show_small_image.label",
        "default": true
      },
      {
        "id": "image_small",
        "type": "image_picker",
        "label": "t:sections.image_with_text.settings.image_small.label"
      },
      {
        "type": "select",
        "id": "image_small_aspect_ratio",
        "label": "t:sections.image_with_text.settings.image_small_aspect.label",
        "default": "square",
        "options": [
          {
            "value": "natural",
            "label": "t:shared.settings.aspect_ratio.option_natural"
          },
          {
            "value": "square",
            "label": "t:shared.settings.aspect_ratio.option_square"
          },
          {
            "value": "portrait",
            "label": "t:shared.settings.aspect_ratio.option_portrait"
          },
          {
            "value": "landscape",
            "label": "t:shared.settings.aspect_ratio.option_landscape"
          }
        ]
      },
      {
        "id": "image_small_focal_point",
        "type": "select",
        "label": "t:sections.image_with_text.settings.image_small_focal.label",
        "options": [{"label":"t:shared.settings.focal_point.option_center","value":"center"},{"label":"t:shared.settings.focal_point.option_top","value":"top"},{"label":"t:shared.settings.focal_point.option_bottom","value":"bottom"},{"label":"t:shared.settings.focal_point.option_left","value":"left"},{"label":"t:shared.settings.focal_point.option_right","value":"right"}],
        "default": "center"
      },
      {
        "type": "header",
        "content": "t:shared.settings.header_color.content"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "t:shared.settings.background_color.label"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "t:shared.settings.text_color.label",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "button_background_color",
        "label": "t:shared.settings.button_background_color.label",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "button_text_color",
        "label": "t:shared.settings.button_text_color.label",
        "default": "#FFFFFF"
      },
      {
        "type": "header",
        "content": "t:shared.settings.section_style.header_style.content"
      },
      {
        "id": "enable_animation",
        "type": "checkbox",
        "label": "t:shared.settings.section_style.enable_animation.label",
        "info": "t:shared.settings.section_style.enable_animation.info",
        "default": true
      },
      {
        "type": "select",
        "id": "divider_style",
        "label": "t:shared.settings.section_style.divider_style.label",
        "default": "none",
        "options": [
          {
            "label": "t:shared.settings.section_style.divider_style.option_none", "value": "none"
          },
          {
            "label": "t:shared.settings.section_style.divider_style.option_solid", "value": "solid"
          }
        ]
      },
      {
        "type": "select",
        "id": "section_padding",
        "label": "t:shared.settings.section_style.section_padding.label",
        "default": "section--vertical-padding-top-bottom",
        "options": [
          {
            "label": "t:shared.settings.section_style.section_padding.option_none", "value": "section--vertical-padding-none"
          },
          {
            "label": "t:shared.settings.section_style.section_padding.option_both", "value": "section--vertical-padding-top-bottom"
          },
          {
            "label": "t:shared.settings.section_style.section_padding.option_top", "value": "section--vertical-padding-top-only"
          },
          {
            "label": "t:shared.settings.section_style.section_padding.option_bottom", "value": "section--vertical-padding-bottom-only"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "accent",
        "name": "t:sections.image_with_text.blocks.accent.name",
        "settings": [
          {
            "id": "accent",
            "type": "text",
            "label": "t:sections.image_with_text.blocks.accent.settings.text.label",
            "default": "Accent"
          }
        ]
      },
      {
        "type": "heading",
        "name": "t:sections.image_with_text.blocks.title.name",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "t:sections.image_with_text.blocks.title.settings.title.label",
            "default": "Image with text"
          },
          {
            "type": "select",
            "id": "heading_font_class",
            "label": "t:shared.settings.heading_font_class.label",
            "default": "fs-heading-display-3",
            "options": [
              {
                "value": "fs-heading-1-base",
                "label": "t:shared.settings.heading_font_class.option_small"
              },
              {
                "value": "fs-heading-display-3",
                "label": "t:shared.settings.heading_font_class.option_medium"
              },
              {
                "value": "fs-heading-display-2",
                "label": "t:shared.settings.heading_font_class.option_large"
              }
            ]
          }
        ]
      },
      {
        "type": "subheading",
        "name": "t:sections.image_with_text.blocks.subheading.name",
        "settings": [
          {
            "id": "subheading",
            "type": "text",
            "label": "t:sections.image_with_text.blocks.subheading.settings.text.label",
            "default": "Use these sections to promote a particular feature with editorial photography"
          },
          {
            "type": "select",
            "id": "subheading_font_class",
            "label": "t:shared.settings.subheading_font_class.label",
            "default": "fs-heading-5-base",
            "options": [
              {
                "value": "fs-heading-6-base",
                "label": "t:shared.settings.subheading_font_class.option_small"
              },
              {
                "value": "fs-heading-5-base",
                "label": "t:shared.settings.subheading_font_class.option_medium"
              },
              {
                "value": "fs-heading-4-base",
                "label": "t:shared.settings.subheading_font_class.option_large"
              }
            ]
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.image_with_text.blocks.text.name",
        "settings": [
          {
            "id": "text",
            "type": "richtext",
            "label": "t:sections.image_with_text.blocks.text.settings.text.label",
            "default": "<p>Use these sections to promote a particular feature with editorial photography</p>"
          },
          {
            "type": "select",
            "id": "text_font_class",
            "label": "t:shared.settings.text_font_class.label",
            "default": "fs-body-100",
            "options": [
              {
                "value": "fs-body-75",
                "label": "t:shared.settings.text_font_class.option_small"
              },
              {
                "value": "fs-body-100",
                "label": "t:shared.settings.text_font_class.option_regular"
              },
              {
                "value": "fs-body-200",
                "label": "t:shared.settings.text_font_class.option_large"
              }
            ]
          }
        ]
      },
      {
        "type": "image",
        "name": "t:shared.section_blocks.image.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:shared.section_blocks.image.settings.image.label"
          },
          {
            "id": "image_size",
            "type": "range",
            "min": 50,
            "max": 750,
            "step": 10,
            "unit": "px",
            "label": "t:shared.section_blocks.image.settings.image_size.label",
            "default": 200
          },
          {
            "id": "image_size_mobile",
            "type": "range",
            "min": 50,
            "max": 350,
            "step": 10,
            "unit": "px",
            "label": "t:shared.section_blocks.image.settings.image_size_mobile.label",
            "default": 200
          }
        ]
      },
      {
        "type": "button",
        "name": "t:sections.image_with_text.blocks.button.name",
        "limit": 2,
        "settings": [
          {
            "id": "link",
            "type": "url",
            "label": "t:shared.settings.button_link.label"
          },
          {
            "id": "link_text",
            "type": "text",
            "label": "t:shared.settings.button_link_text.label",
            "default": "Read more"
          },
          {
            "type": "select",
            "id": "button_style",
            "label": "t:shared.settings.button_style.label",
            "options": [
              {
                "value": "btn--primary",
                "label": "t:shared.settings.button_style.option_solid"
              },
              {
                "value": "btn--secondary",
                "label": "t:shared.settings.button_style.option_outline"
              },
              {
                "value": "btn--callout",
                "label": "t:shared.settings.button_style.option_text"
              }
            ]
          }
        ]
      },
      {
        "type": "play-button",
        "name": "t:shared.section_blocks.play_button.name",
        "settings": [
          {
            "type": "url",
            "id": "video_url",
            "label": "Video link",
            "label": "t:shared.section_blocks.play_button.settings.video_url.label",
            "info": "t:shared.section_blocks.play_button.settings.video_url.info"
          },
          {
            "type": "image_picker",
            "id": "poster_image",
            "label": "t:shared.section_blocks.play_button.settings.poster_image.label"
          },
          {
            "type": "select",
            "id": "aspect_ratio",
            "label": "t:shared.settings.aspect_ratio.label",
            "default": "square",
            "options": [
              {
                "value": "natural",
                "label": "t:shared.settings.aspect_ratio.option_natural"
              },
              {
                "value": "square",
                "label": "t:shared.settings.aspect_ratio.option_square"
              },
              {
                "value": "portrait",
                "label": "t:shared.settings.aspect_ratio.option_portrait"
              },
              {
                "value": "landscape",
                "label": "t:shared.settings.aspect_ratio.option_landscape"
              }
            ]
          },
          {
            "id": "text",
            "type": "text",
            "label": "t:shared.section_blocks.play_button.settings.text.label",
            "default": "Watch now"
          },
          {
            "type": "select",
            "id": "icon_style",
            "label": "t:shared.section_blocks.play_button.settings.icon_style.label",
            "default": "outline",
            "options": [
              {
                "value": "dark",
                "label": "t:shared.section_blocks.play_button.settings.icon_style.option_dark"
              },
              {
                "value": "light",
                "label": "t:shared.section_blocks.play_button.settings.icon_style.option_light"
              },
              {
                "value": "outline",
                "label": "t:shared.section_blocks.play_button.settings.icon_style.option_outline"
              }
            ]
          }
        ]
      },
      {
        "type": "border",
        "name": "t:shared.section_blocks.border.name"
      },
      {
        "type": "spacer",
        "name": "t:shared.section_blocks.spacer.name",
        "settings": [
          {
            "type": "range",
            "id": "space",
            "label": "t:shared.section_blocks.spacer.settings.space.label",
            "min": 4,
            "max": 64,
            "step": 4,
            "default": 12,
            "unit": "px"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.image_with_text.presets.name",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "subheading"
          },
          {
            "type": "button"
          }
        ]
      }
    ]
  }
{% endschema %}
