{%- liquid
  assign overlay_opacity = section.settings.overlay_opacity | divided_by: 100.0
  assign horizontal_position = 'center'
  assign vertical_position = 'center'
  assign text_position_modifier = 'center'

  assign placeholder_aspect_ratio = 'no-ratio'

  if section.settings.image_aspect == 'original'
    assign placeholder_aspect_ratio = 'square'
  endif
-%}

<div
  class="
    password
    password--image-aspect-{{ section.settings.image_aspect }}
    password--text-{{ text_position_modifier }}
    section
    section--full-width
    {{ section.settings.section_padding }}
    {% if settings.enable_section_animations and section.settings.enable_animation %}
      animation
      animation--password
    {% endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="password"
  style="
    --custom-height: {{ section.settings.desktop_height }}vh;
    --custom-height-mobile: {{ section.settings.mobile_height }}vh;
    --text-horizontal-position: {{ horizontal_position }};
    --text-vertical-position: {{ vertical_position }};
    --color-text: {{ section.settings.text_color }};
    --color-text-link: {{ section.settings.text_color }};
    --overlay-background: {{ section.settings.color_overlay }};
    {% if section.settings.color_overlay_gradient != blank %}
      --overlay-background-gradient: {{ section.settings.color_overlay_gradient }};
    {% endif %}
    --overlay-opacity: {{ overlay_opacity }};
  "
>
  <div class="password__inner">
    <div class="password__image-container">
      {%- if section.settings.image_mobile != blank -%}
        {%-
          render 'image' with
          wrapper_class: "password__image password__image--mobile",
          image: section.settings.image_mobile,
          sizes: "100vw",
          focal_point: section.settings.mobile_focal_point,
          animate: true
        -%}
      {%- endif -%}

      {%-
        render 'image',
        wrapper_class: "password__image",
        image: section.settings.image,
        sizes: "100vw",
        focal_point: section.settings.focal_point,
        animate: true
      -%}
    </div>
    <div class="password__overlay"></div>
    <div class="password__text-container-wrapper">
      <div class="password__text-container">
        <div class="password__text-container-inner section-blocks animation--section-blocks">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'accent' -%}
                {%- unless block.settings.accent == blank -%}
                  <p class="password__text-container-accent fs-accent section-blocks__accent">
                    {{ block.settings.accent }}
                  </p>
                {%- endunless -%}
              {%- when 'heading' -%}
                {%- unless block.settings.title == blank -%}
                  <h2 class="password__text-container-heading ff-heading {{ block.settings.heading_font_class }} section-blocks__heading">
                    {{ block.settings.title }}
                  </h2>
                {%- endunless -%}
              {%- when 'text' -%}
                {%- unless block.settings.text == blank -%}
                  <div class="password__text-container-text rte ff-body {{ block.settings.text_font_class }} section-blocks__text">
                    {{ block.settings.text }}
                  </div>
                {%- endunless -%}
              {%- when 'newsletter_signup' -%}
                {%- assign success_msg = 'general.password_page.signup_form_success' | t -%}

                <div class="password__form-wrapper section-blocks__form">
                  {% form 'customer', class: 'password__signup-form', id: 'password-signup' %}
                    {% render 'form-status', form: form, form_id: 'password-signup', success_message: success_msg %}

                    {%- unless form.posted_successfully? -%}
                      <div class="password__notify-form">
                        <input type="hidden" name="contact[tags]" value="prospect, password page">
                        <label for="password-signup-email" class="visually-hidden">
                          {{- 'general.password_page.signup_form_email_placeholder' | t -}}
                        </label>
                        <input
                          type="email"
                          class="input"
                          name="contact[email]"
                          id="password-signup-email"
                          value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
                          placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}"
                          spellcheck="false"
                          autocorrect="off"
                          autocapitalize="off"
                          required
                        >
                        <button type="submit" name="commit" id="Subscribe-password" class="password__signup-button">
                          {{ 'general.password_page.signup_form_button_label' | t }}
                        </button>
                      </div>
                    {%- endunless -%}
                  {% endform %}
                </div>
              {%- when 'share_icons' -%}
                <div class="password__share-icons section-blocks__text">
                  {%
                    render 'share-icons',
                    url: shop.url,
                    title: shop.name
                  %}
                </div>
              {%- when 'social_icons' -%}
                <div class="password__social-icons section-blocks__text">
                  {% render 'social-icons' %}
                <div>
              {%- when 'spacer' -%}
                {%- render 'spacer-block' with space: block.settings.space -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main_password.name",
  "tag": "section",
  "class": "shopify-section--full-width",
  "settings": [
    {
      "type": "radio",
      "id": "image_aspect",
      "label": "t:sections.main_password.settings.image_aspect.label",
      "options": [
      { "value": "original", "label": "t:sections.main_password.settings.image_aspect.option_original" },
      { "value": "custom", "label": "t:sections.main_password.settings.image_aspect.option_custom" }
      ],
      "default": "custom"
    },
    {
      "type": "range",
      "id": "desktop_height",
      "label": "t:sections.main_password.settings.height.label",
      "unit": "%",
      "min": 25,
      "max": 100,
      "step": 5,
      "default": 100
    },
    {
      "type": "range",
      "id": "mobile_height",
      "label": "t:sections.main_password.settings.mobile_height.label",
      "unit": "%",
      "min": 25,
      "max": 100,
      "step": 5,
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "t:sections.main_password.settings.height_paragraph.content"
    },
    {
      "type": "header",
      "content": "t:shared.settings.header__background_image.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.main_password.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.main_password.settings.image_mobile.label"
    },
    {
      "id": "focal_point",
      "type": "select",
      "label": "t:shared.settings.focal_point.label",
      "options": [{"label":"t:shared.settings.focal_point.option_center","value":"center"},{"label":"t:shared.settings.focal_point.option_top","value":"top"},{"label":"t:shared.settings.focal_point.option_bottom","value":"bottom"},{"label":"t:shared.settings.focal_point.option_left","value":"left"},{"label":"t:shared.settings.focal_point.option_right","value":"right"}],
      "default": "center"
    },
    {
      "id": "mobile_focal_point",
      "type": "select",
      "label": "t:sections.main_password.settings.mobile_focal_point.label",
      "options": [{"label":"t:shared.settings.focal_point.option_center","value":"center"},{"label":"t:shared.settings.focal_point.option_top","value":"top"},{"label":"t:shared.settings.focal_point.option_bottom","value":"bottom"},{"label":"t:shared.settings.focal_point.option_left","value":"left"},{"label":"t:shared.settings.focal_point.option_right","value":"right"}],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:shared.settings.header_color.content"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:shared.settings.text_color.label",
      "default": "#FFFFFF"
    },
    {
      "id": "color_overlay",
      "type": "color",
      "label": "t:shared.settings.color_overlay.label",
      "default": "#000"
    },
    {
      "id": "color_overlay_gradient",
      "type": "color_background",
      "label": "t:shared.settings.color_overlay_gradient.label"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:shared.settings.overlay_opacity.label",
      "unit": "%",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 80
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header_style.content"
    },
    {
      "id": "enable_animation",
      "type": "checkbox",
      "label": "t:shared.settings.section_style.enable_animation.label",
      "info": "t:shared.settings.section_style.enable_animation.info",
      "default": true
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "t:shared.settings.section_style.section_padding.label",
      "default": "section--vertical-padding-none",
      "options": [
        {
          "label": "t:shared.settings.section_style.section_padding.option_none", "value": "section--vertical-padding-none"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_both", "value": "section--vertical-padding-top-bottom"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_top", "value": "section--vertical-padding-top-only"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_bottom", "value": "section--vertical-padding-bottom-only"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "accent",
      "name": "t:sections.main_password.blocks.accent.name",
      "settings": [
        {
          "id": "accent",
          "type": "text",
          "label": "t:sections.main_password.blocks.accent.settings.text.label",
          "default": "Accent"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.main_password.blocks.title.name",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "t:sections.main_password.blocks.title.settings.title.label",
          "default": "Email signup banner"
        },
        {
          "type": "select",
          "id": "heading_font_class",
          "label": "t:shared.settings.heading_font_class.label",
          "default": "fs-heading-display-3",
          "options": [
            {
              "value": "fs-heading-display-3",
              "label": "t:shared.settings.heading_font_class.option_small"
            },
            {
              "value": "fs-heading-display-2",
              "label": "t:shared.settings.heading_font_class.option_medium"
            },
            {
              "value": "fs-heading-display-1",
              "label": "t:shared.settings.heading_font_class.option_large"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.main_password.blocks.text.name",
      "settings": [
        {
          "id": "text",
          "type": "richtext",
          "label": "t:sections.main_password.blocks.text.settings.text.label",
          "default": "<p>Be the first to know when we launch.</p>"
        },
        {
          "type": "select",
          "id": "text_font_class",
          "label": "t:shared.settings.text_font_class.label",
          "default": "fs-body-100",
          "options": [
            {
              "value": "fs-body-75",
              "label": "t:shared.settings.text_font_class.option_small"
            },
            {
              "value": "fs-body-100",
              "label": "t:shared.settings.text_font_class.option_regular"
            },
            {
              "value": "fs-body-200",
              "label": "t:shared.settings.text_font_class.option_large"
            }
          ]
        }
      ]
    },
    {
      "type": "newsletter_signup",
      "name": "t:sections.main_password.blocks.newsletter_signup.name",
      "limit": 1
    },
    {
      "type": "spacer",
      "name": "t:shared.section_blocks.spacer.name",
      "settings": [
        {
          "type": "range",
          "id": "space",
          "label": "t:shared.section_blocks.spacer.settings.space.label",
          "min": 4,
          "max": 64,
          "step": 4,
          "default": 12,
          "unit": "px"
        }
      ]
    },
    {
      "type": "share_icons",
      "name": "t:sections.main_password.blocks.share_icons.name",
      "limit": 1
    },
    {
      "type": "social_icons",
      "name": "t:sections.main_password.blocks.social_icons.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main_password.blocks.social_icons.content"
        }
      ],
      "limit": 1
    }
  ]
}
{% endschema %}
