{%- liquid
  assign page_chosen = false
  if section.settings.page != blank
    assign page_chosen = true
  endif
-%}

<div
  data-section-id="{{ section.id }}"
  data-section-type="page"
  class="
    page-section
    section
    section--divider-{{ section.settings.divider_style }}
    {{ section.settings.section_padding }}
    {% if settings.enable_section_animations and section.settings.enable_animation %}
      animation
      animation--page
    {% endif %}
  "
  style="
    {% if section.settings.content_width == 'custom' %}
      --content-width: {{ section.settings.custom_content_width }}px;
    {% endif %}
    --heading-alignment: {{ section.settings.heading_alignment }};
  "
>
  <div class="page-section__inner">
    <h2 class="page-section__heading ff-heading {{ section.settings.heading_font_class }}">
      {{ section.settings.title }}
    </h2>
    <div class="page-section__text rte ff-body {{ block.settings.text_font_class }}">
      {% if page_chosen %}
        {{ section.settings.page.content }}
      {% else %}
        <div class="page-section__placeholder-wrapper placeholder">
          {{ 'page' | placeholder_svg_tag: 'page-placeholder' }}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.page_section.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.page_section.settings.title.label",
      "default": "Page"
    },
    {
      "type": "select",
      "id": "heading_font_class",
      "label": "t:shared.settings.heading_font_class.label",
      "default": "fs-heading-3-base",
      "options": [
        {
          "value": "fs-heading-4-base",
          "label": "t:shared.settings.heading_font_class.option_small"
        },
        {
          "value": "fs-heading-3-base",
          "label": "t:shared.settings.heading_font_class.option_medium"
        },
        {
          "value": "fs-heading-2-base",
          "label": "t:shared.settings.heading_font_class.option_large"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:shared.settings.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:shared.settings.heading_alignment.option_left"
        },
        {
          "value": "center",
          "label": "t:shared.settings.heading_alignment.option_center"
        }
      ]
    },
    {
      "type": "page",
      "id": "page",
      "label": "t:sections.page_section.settings.page.label"
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header_style.content"
    },
    {
      "id": "enable_animation",
      "type": "checkbox",
      "label": "t:shared.settings.section_style.enable_animation.label",
      "info": "t:shared.settings.section_style.enable_animation.info",
      "default": true
    },
    {
      "type": "select",
      "id": "divider_style",
      "label": "t:shared.settings.section_style.divider_style.label",
      "default": "none",
      "options": [
        {
          "label": "t:shared.settings.section_style.divider_style.option_none",
          "value": "none"
        },
        {
          "label": "t:shared.settings.section_style.divider_style.option_solid",
          "value": "solid"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "t:shared.settings.section_style.section_padding.label",
      "default": "section--vertical-padding-top-bottom",
      "options": [
        {
          "label": "t:shared.settings.section_style.section_padding.option_none",
          "value": "section--vertical-padding-none"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_both",
          "value": "section--vertical-padding-top-bottom"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_top",
          "value": "section--vertical-padding-top-only"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_bottom",
          "value": "section--vertical-padding-bottom-only"
        }
      ]
    },
    {
      "type": "radio",
      "id": "content_width",
      "label": "t:shared.settings.section_style.content_width.label",
      "options": [
        {
          "value": "full",
          "label": "t:shared.settings.section_style.content_width.option_full"
        },
        {
          "value": "custom",
          "label": "t:shared.settings.section_style.content_width.option_custom"
        }
      ],
      "default": "custom"
    },
    {
      "type": "range",
      "id": "custom_content_width",
      "label": "t:shared.settings.section_style.custom_content_width.label",
      "unit": "px",
      "min": 400,
      "max": 1000,
      "step": 50,
      "default": 700
    }
  ],
  "presets": [
    {
      "name": "t:sections.page_section.name",
      "blocks": []
    }
  ]
}
{% endschema %}
