<script>
  {% comment %}This is done here AND in the JS so it is responsive in TE but doesn't wait for JS otherwise{% endcomment %}
  {% if section.settings.enable_transparent %}
    document.body.classList.add("header-transparent-on-home");
  {% endif %}
</script>
{%- liquid
  assign logo = section.settings.logo
  assign logo_width = section.settings.logo_width
  assign mobile_logo_width = section.settings.mobile_logo_width

  assign layout = section.settings.layout

  assign logo_position = "center"

  if layout contains "logo-left"
    assign logo_position = "left"
  endif

  assign header_transparent = section.settings.enable_transparent

  assign color_text_transparent = section.settings.color_text_transparent
-%}

{%- capture logo_sizes -%}(max-width: 960px) {{ mobile_logo_width }}px, {{ logo_width }}px{%- endcapture -%}

{%- comment -%} theme-check-disable UnusedAssign {%- endcomment -%}
{%- assign font_logo = settings.font_logo -%}
{%- assign capitalize_logo = settings.capitalize_logo -%}
{%- assign logo_text_transform = settings.logo_text_transform -%}
{%- comment -%} theme-check-enable UnusedAssign {%- endcomment -%}

{%- capture header_logo -%}
  <h1 class="header__logo">
    <a
      class="header__logo-link"
      href="{{ routes.root_url }}"
      {% if logo != blank %}
        aria-label="{{ shop.name }}"
      {% endif %}
    >
      {%- if logo != blank -%}
        {%- render 'image' with image: logo, wrapper_class: 'regular-logo', sizes: logo_sizes, prioritize_loading: true -%}
      {%- endif -%}

      {%- if logo == blank -%}
        <span class="header__logo-text">{{ shop.name }}</span>
      {%- endif -%}
    </a>
  </h1>
{%- endcapture -%}

<header
  data-section-id="{{ section.id }}"
  data-section-type="password-header"
  {% if header_transparent %}
    data-transparent-header-on-home="true"
  {% endif %}
  class="
    header
    header--layout-{{ layout | replace: "_", "-" }}
    {% if logo != blank -%}
      header--has-logo
    {%- endif %}
    {% if header_transparent %}
      header--transparent
    {% endif %}
  "
  data-logo-position="{{ logo_position }}"
  style="
    --logo-width: {{ logo_width }}px;
    --mobile-logo-width: {{ mobile_logo_width }}px;
    --color-background-header: {{ settings.color_background_body }};
    --color-text-header: {{ settings.color_text }};
    --color-text-transparent: {{ color_text_transparent }};
    --divider-width: {{ section.settings.divider_width }};
  "
>
  <div class="header__inner">
    <div class="header__row header__row-desktop lower {% if logo_position == 'center' %}three-segment{% endif %}">
      <div class="header__row-segment header__row-segment-desktop left">
        {%- if logo_position == 'left' -%}
          {{ header_logo }}
        {%- endif -%}
      </div>

      {%- if logo_position == 'center' -%}
        {{ header_logo }}
      {%- endif -%}

      <div class="header__row-segment header__row-segment-desktop right">
        {% comment %} password_lock_icon {% endcomment %}
        {% render 'password-unlock' with is_desktop: true %}
      </div>
    </div>

    <div class="header__row header__row-mobile {% if logo_position == 'center' %}three-segment{% endif %}">
      {%- if logo_position == 'center' -%}
        <div class="header__row-segment left"></div>

        {{ header_logo }}

        <div class="header__row-segment right">
          {% comment %} password_lock_icon {% endcomment %}
          {% render 'password-unlock' %}
        </div>
      {%- else -%}
        <div class="header__row-segment left">
          {{ header_logo }}
        </div>

        <div class="header__row-segment right">
          {% comment %} password_lock_icon {% endcomment %}
          {% render 'password-unlock' %}
        </div>
      {%- endif -%}
    </div>
  </div>
</header>

<script>
  // Set heading height at component level
  const header = document.querySelector('#shopify-section-password-header');
  document.documentElement.style.setProperty('--height-header', header.offsetHeight + 'px');
</script>

{% schema %}
{
  "name": "t:sections.password_header.name",
  "class": "header__outer-wrapper",
  "settings": [
    {
      "id": "layout",
      "type": "select",
      "label": "t:sections.password_header.settings.layout.label",
      "options": [
        {
          "value": "logo-center",
          "label": "t:sections.password_header.settings.layout.option_logo-center"
        },
        {
          "value": "logo-left",
          "label": "t:sections.password_header.settings.layout.option_logo-left"
        }
      ]
    },
    {
      "id": "divider_width",
      "type": "select",
      "label": "t:sections.password_header.settings.divider_width.label",
      "default": "0px",
      "options": [
        {
          "value": "0px",
          "label": "t:sections.password_header.settings.divider_width.option_0px"
        },
        {
          "value": "1px",
          "label": "t:sections.password_header.settings.divider_width.option_1px"
        },
        {
          "value": "2px",
          "label": "t:sections.password_header.settings.divider_width.option_3px"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.password_header.settings.header__logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.password_header.settings.image.label"
    },
    {
      "id": "logo_width",
      "type": "range",
      "min": 50,
      "max": 350,
      "step": 10,
      "unit": "px",
      "label": "t:sections.password_header.settings.logo_width.label",
      "default": 200
    },
    {
      "id": "mobile_logo_width",
      "type": "range",
      "min": 50,
      "max": 250,
      "step": 10,
      "unit": "px",
      "label": "t:sections.password_header.settings.mobile_logo_width.label",
      "default": 200
    },
    {
      "type": "header",
      "content": "t:sections.password_header.settings.header__transparent_header"
    },
    {
      "id": "enable_transparent",
      "type": "checkbox",
      "label": "t:sections.password_header.settings.enable_transparent.label",
      "info": "t:sections.password_header.settings.enable_transparent.info",
      "default": true
    },
    {
      "id": "color_text_transparent",
      "type": "color",
      "label": "t:sections.password_header.settings.color_text_transparent.label",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
