{%- liquid
  assign total_results = predictive_search.resources.products.size

  if settings.quick_search_show_articles
    assign total_results = total_results | plus: predictive_search.resources.articles.size
  endif

  if settings.quick_search_show_collections
    assign total_results = total_results | plus: predictive_search.resources.collections.size
  endif

  if settings.quick_search_show_pages
    assign total_results = total_results | plus: predictive_search.resources.pages.size
  endif

  assign sizes = '80px'
  if settings.quick_search_product_style == 'columns'
    assign sizes = '200px'
  endif
-%}

{%- if predictive_search.performed -%}
  {%- if total_results > 0 -%}
    {%- for product in predictive_search.resources.products -%}
      <a
        class="quick-search__result quick-search__result--product quick-search__result--{{ settings.quick_search_product_style }}"
        href="{{ product.url }}"
      >
        {%- if settings.quick_search_product_style != 'list' -%}
          <div class="quick-search__result-image-wrapper">
            {%
              render 'image' with
              image: product.featured_media,
              wrapper_class: 'quick-search__result-image',
              aspect_ratio: settings.product_listing_aspect_ratio,
              object_fit: settings.product_listing_media_fit,
              include_placeholder: true,
              sizes: sizes
            %}
          </div>
        {%- endif -%}
        <div class="quick-search__result-details ff-body fs-body-75">
          <div class="quick-search__result-info">
            <div class="quick-search__result-heading fs-product-card-title">{{ product.title }}</div>
            {%- if settings.quick_search_show_vendor and product.vendor -%}
              <span class="quick-search__result-vendor t-subdued">{{ product.vendor }}</span>
            {%- endif -%}
          </div>

          {%- if settings.quick_search_show_price -%}
            <span class="quick-search__result-price">
              {% if product.compare_at_price > product.price %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <s>{{ product.compare_at_price | money }}</s>

                {%- if product.price_varies -%}
                  {%- assign sale_price = product.price | money -%}
                  {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                {%- else -%}
                  <span class="sale" data-price>{{ product.price | money }}</span>
                {%- endif -%}
              {%- else -%}
                {%- if product.price_varies -%}
                  {%- assign price = product.price | money -%}
                  {{ 'products.product.from_lowest_price_html' | t: lowest_price: price }}
                {%- else -%}
                  <span>{{ product.price | money }}</span>
                {%- endif -%}
              {% endif %}

              {%- render 'unit-price' item: product.selected_or_first_available_variant -%}
            </span>
          {%- endif -%}
        </div>
      </a>
    {%- else -%}
      <p class="ff-body fs-body-200">{{ 'search.no_products' | t }}</p>
    {%- endfor -%}

    {%- if settings.quick_search_show_collections -%}
      {%- for collection in predictive_search.resources.collections -%}
        {%- if forloop.first -%}
          <h4 class="quick-search__header ff-body fs-body-100 t-subdued">{{ 'search.headings.collections' | t }}</h4>
        {%- endif -%}
        <a class="quick-search__result" href="{{ collection.url }}">
          <div class="quick-search__result-heading ff-body fs-body-75">{{ collection.title }}</div>
        </a>
      {%- endfor -%}
    {%- endif -%}

    {%- if settings.quick_search_show_pages -%}
      {%- for page in predictive_search.resources.pages -%}
        {%- if forloop.first -%}
          <h4 class="quick-search__header ff-body fs-body-100 t-subdued">{{ 'search.headings.pages' | t }}</h4>
        {%- endif -%}
        <a class="quick-search__result" href="{{ page.url }}">
          <div class="quick-search__result-heading ff-body fs-body-75">{{ page.title }}</div>
        </a>
      {%- endfor -%}
    {%- endif -%}

    {%- if settings.quick_search_show_articles -%}
      {%- for article in predictive_search.resources.articles -%}
        {%- if forloop.first -%}
          <h4 class="quick-search__header ff-body fs-body-100 t-subdued">{{ 'search.headings.articles' | t }}</h4>
        {%- endif -%}
        <a class="quick-search__result" href="{{ article.url }}">
          <div class="quick-search__result-heading ff-body fs-body-75">{{ article.title }}</div>
        </a>
      {%- endfor -%}
    {%- endif -%}
  {%- else -%}
    <h4 class="quick-search__no-results-header ff-body fs-body-200">
      {{ 'search.no_results_html' | t: terms: predictive_search.terms }}
    </h4>
    <p class="quick-search__no-results t-subdued">{{ 'search.check_spelling' | t }}</p>
  {%- endif -%}
{%- endif -%}
