<div
  data-section-id="{{ section.id }}"
  data-section-type="shoppable"
  data-show-hotspot-cards="true"
  class="
    shoppable-image
    shoppable-image--{{ section.settings.aspect_ratio }}
    section
    section--divider-{{ section.settings.divider_style }}
    {{ section.settings.section_padding }}
    {% if settings.enable_section_animations and section.settings.enable_animation %}
      animation
      animation--shoppable-image
    {% endif %}
  "
  style="
    --transparent-hotspot-background: {{ settings.color_text | color_to_rgb | replace: 'rgb', 'rgba' | replace: ')', ', .6)' }};
    --transparent-hotspot-background-darker: {{ settings.color_text | color_to_rgb | replace: 'rgb', 'rgba' | replace: ')', ', .8)' }};
  "
>
  <div class="shoppable-image__wash" data-shoppable-wash></div>
  <div class="section__inner">
    <div class="section-introduction animation--section-introduction">
      {%- unless section.settings.heading == blank -%}
        <h2 class="ff-heading fs-heading-3-base section-introduction__heading">{{ section.settings.heading }}</h2>
      {%- endunless -%}

      {%- unless section.settings.subheading == blank -%}
        <div class="ff-body fs-body-100 rte section-introduction__subheading">{{ section.settings.subheading }}</div>
      {%- endunless -%}

      {%-
        render 'button-block' with
        wrapper_class: "section-introduction__button",
        link: section.settings.link,
        label: section.settings.link_text,
        button_style: section.settings.button_style,
        button_alignment: 'center',
      -%}
    </div>

    <div class="shoppable-image__image-container shoppable__image-container">
      <div class="shoppable-image__image-container-inner">
        <div class="shoppable-image__image-wrapper">
          {%
            render 'image' with
            image: section.settings.image,
            wrapper_class: 'shoppable-image__image',
            aspect_ratio: section.settings.aspect_ratio,
            placeholder_name: 'collection-4',
            include_placeholder: true,
            placeholder_natural_fallback_ratio: 'landscape'
            sizes: "(min-width: 960px) calc(100vw - calc(2 * 3.3vw)), calc(100vw - calc(2 * clamp(18px, 3.3vw, 3.3vw)))",
            animate: true
          %}
        </div>
      </div>

      {%- for block in section.blocks -%}
        {%
          render 'shoppable-item' with
          block: block,
          index: forloop.index0,
          product_item: block.settings.product_item,
          horizontal_position: block.settings.horizontal_position,
          vertical_position: block.settings.vertical_position,
          aspect_ratio: section.settings.aspect_ratio,
        %}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.shoppable_image.name",
  "tag": "section",
  "templates": [
    "404",
    "article",
    "blog",
    "cart",
    "collection",
    "list-collections",
    "customers/account",
    "customers/activate_account",
    "customers/addresses",
    "customers/login",
    "customers/order",
    "customers/register",
    "customers/reset_password",
    "gift_card",
    "index",
    "page",
    "product",
    "search"
  ],
  "settings": [
    {
      "id": "image",
      "type": "image_picker",
      "label": "t:sections.shoppable_image.settings.image.label"
    },
    {
      "id": "aspect_ratio",
      "type": "select",
      "label": "t:sections.shoppable_image.settings.aspect_ratio.label",
      "options": [
        {
          "label": "t:sections.shoppable_image.settings.aspect_ratio.options__1",
          "value": "square"
        },
        {
          "label": "t:sections.shoppable_image.settings.aspect_ratio.options__2",
          "value": "landscape"
        },
        {
          "label": "t:sections.shoppable_image.settings.aspect_ratio.options__3",
          "value": "portrait"
        },
        {
          "label": "t:shared.settings.aspect_ratio.option_natural",
          "value": "natural"
        }
      ],
      "default": "landscape"
    },
    {
      "type": "header",
      "content": "t:sections.shoppable_image.settings.text__header.content"
    },
    {
      "id": "heading",
      "type": "text",
      "label": "t:sections.shoppable_image.settings.heading.label",
      "default": "Shoppable image"
    },
    {
      "id": "subheading",
      "type": "richtext",
      "label": "t:sections.shoppable_image.settings.subheading.label",
      "default": "<p>Use this section to highlight different products within a large image</p>"
    },
    {
      "type": "header",
      "content": "t:sections.shoppable_feature.settings.cta_header.content"
    },
    {
      "id": "link",
      "type": "url",
      "label": "t:sections.shoppable_feature.settings.link.label"
    },
    {
      "id": "link_text",
      "type": "text",
      "label": "t:sections.shoppable_feature.settings.link_text.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:shared.settings.button_style.label",
      "default": "btn--secondary",
      "options": [
        {
          "value": "btn--primary",
          "label": "t:shared.settings.button_style.option_solid"
        },
        {
          "value": "btn--secondary",
          "label": "t:shared.settings.button_style.option_outline"
        },
        {
          "value": "btn--callout",
          "label": "t:shared.settings.button_style.option_text"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header_style.content"
    },
    {
      "id": "enable_animation",
      "type": "checkbox",
      "label": "t:shared.settings.section_style.enable_animation.label",
      "info": "t:shared.settings.section_style.enable_animation.info",
      "default": true
    },
    {
      "type": "select",
      "id": "divider_style",
      "label": "t:shared.settings.section_style.divider_style.label",
      "default": "none",
      "options": [
        {
          "label": "t:shared.settings.section_style.divider_style.option_none",
          "value": "none"
        },
        {
          "label": "t:shared.settings.section_style.divider_style.option_solid",
          "value": "solid"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "t:shared.settings.section_style.section_padding.label",
      "default": "section--vertical-padding-top-bottom",
      "options": [
        {
          "label": "t:shared.settings.section_style.section_padding.option_none",
          "value": "section--vertical-padding-none"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_both",
          "value": "section--vertical-padding-top-bottom"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_top",
          "value": "section--vertical-padding-top-only"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_bottom",
          "value": "section--vertical-padding-bottom-only"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "hotspot",
      "name": "t:sections.shoppable_image.blocks.hotspot.name",
      "limit": 6,
      "settings": [
        {
          "id": "product_item",
          "type": "product",
          "label": "t:sections.shoppable_image.blocks.hotspot.settings.product_item.label"
        },
        {
          "id": "horizontal_position",
          "type": "range",
          "label": "t:sections.shoppable_image.blocks.hotspot.settings.horizontal_position.label",
          "unit": "%",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50
        },
        {
          "id": "vertical_position",
          "type": "range",
          "label": "t:sections.shoppable_image.blocks.hotspot.settings.vertical_position.label",
          "unit": "%",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.shoppable_image.presets.name",
      "blocks": [
        {
          "type": "hotspot",
          "settings": {
            "horizontal_position": 34,
            "vertical_position": 72
          }
        },
        {
          "type": "hotspot",
          "settings": {
            "horizontal_position": 73,
            "vertical_position": 77
          }
        },
        {
          "type": "hotspot",
          "settings": {
            "horizontal_position": 57,
            "vertical_position": 30
          }
        }
      ]
    }
  ]
}
{% endschema %}
